<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="admin"
    ><img class="img-logo" src="../../../../assets/Recurso_1.png" alt="logo"
  /></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li
        class="nav-item"
        [ngClass]="{ active: mnuActive == 1 }"
        (click)="menuActive(1)"
        style="margin-right: 10px"
      >
        <a class="nav-link" href="admin/admin-usuario">Usuarios</a>
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: mnuActive == 2 }"
        (click)="menuActive(2)"
        style="margin-right: 10px"
      >
        <a class="nav-link" href="admin/admin-materia">Materias</a>
      </li>
      <li
        class="nav-item"
        [ngClass]="{ active: mnuActive == 3 }"
        (click)="menuActive(3)"
        style="margin-right: 10px"
      >
        <a class="nav-link" href="admin/admin-clase">Clases</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item item">
        <small>administrador</small>
        <img
          class="avatar"
          src="../../../../assets/avatar-icon.jpg"
          alt="avatar"
        />
        <button class="btn btn-sm" style="top: 9px; position: absolute">
          <fa-icon style="font-size: 24px" [icon]="icon"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
</nav>
