<!-- Header -->
<div class="row mt-4 mb-3">
  <div class="col-md-6">
    <h1 style="color: #e31b36">
      Administrador<sup style="color: rgb(179, 174, 174); margin-left: 10px"
        >Usuario</sup
      >
    </h1>
  </div>
  <div class="col-md-6" style="text-align: right !important">
    <button class="btn btn-light" style="margin-right: 15px">
      <fa-icon style="font-size: 14px; color: green" [icon]="user"></fa-icon>
    </button>
    <button class="btn btn-light" style="margin-right: 15px">
      <fa-icon style="font-size: 14px" [icon]="minus"></fa-icon>
    </button>
    <button
      class="btn btn-light"
      style="margin-right: 15px"
      data-bs-toggle="modal"
      data-bs-target="#openModal"
      (click)="openModal('Añadir Usuario')"
    >
      <fa-icon style="font-size: 14px; color: red" [icon]="add"></fa-icon>
    </button>
    <button class="btn btn-light" style="margin-right: 15px">
      <fa-icon style="font-size: 14px; color: red" [icon]="edit"></fa-icon>
    </button>
    <button class="btn btn-danger">
      <fa-icon style="font-size: 14px; color: white" [icon]="trash"></fa-icon>
    </button>
  </div>
</div>
<!-- Table -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <!-- Tabs -->
        <div class="row mb-1">
          <ul style="list-style: none; text-decoration: none; display: flex">
            <li
              style="margin-right: 10px !important"
              [ngClass]="{ 'text-danger': tipoUsuario == 2 }"
            >
              <a
                href="javascript:;"
                [ngClass]="{ 'select-tab': tipoUsuario == 2 }"
                class="tab"
                (click)="changeTab(2)"
                >Estudiantes</a
              >
              <fa-icon
                *ngIf="tipoUsuario == 2"
                style="font-size: 14px"
                [icon]="icon"
              ></fa-icon>
            </li>
            <li
              style="margin-right: 10px !important"
              [ngClass]="{ 'text-danger': tipoUsuario == 1 }"
            >
              <a
                href="javascript:;"
                [ngClass]="{ 'select-tab': tipoUsuario == 1 }"
                class="tab"
                (click)="changeTab(1)"
                >Profesores</a
              >

              <fa-icon
                *ngIf="tipoUsuario == 1"
                style="font-size: 14px"
                [icon]="icon"
              ></fa-icon>
            </li>

            <li
              style="margin-right: 10px !important"
              [ngClass]="{ 'text-danger': tipoUsuario == 0 }"
            >
              <a
                href="javascript:;"
                [ngClass]="{ 'select-tab': tipoUsuario == 0 }"
                class="tab"
                (click)="changeTab(0)"
                >Administradores</a
              >
              <fa-icon
                *ngIf="tipoUsuario == 0"
                style="font-size: 14px"
                [icon]="icon"
              ></fa-icon>
            </li>
          </ul>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-stripped text-center">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>País</th>
                <th>Estado</th>
                <th>Ciudad</th>
                <th>Idiomas a ver</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let user of usuarios
                    | paginate: { itemsPerPage: 10, currentPage: page }
                "
              >
                <td><input type="checkbox" /></td>
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td>{{ user.telefono }}</td>
                <td>pais</td>
                <td>estado</td>
                <td>ciudad</td>
                <td><a href="javascrip:;">Idiomas</a></td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Proximo"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="openModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #ModalClose
        ></button>
      </div>
      <div class="modal-body">
        <app-form-registro [tipoUsuario]="tipo"></app-form-registro>
      </div>
      <div class="modal-footer text-center">
        <button class="btn btn-success btn-sm">Aceptar</button>
      </div>
    </div>
  </div>
</div>
