<div class="containerBox">
  <h1>Política de privacidad</h1>
  Marguz.co es propiedad de Marguz S.A.S ("Marguz", "nosotros" o "nos"). Esta
  política de privacidad explica cómo Marguz recopila, usa y divulga información
  sobre usted y la protección de la información que se aplica a nuestro
  Servicio. Ésta Política de Privacidad se aplica a la información recopilada
  por nosotros y sucede cuando usted accede a nuestros Sitios o Servicios, al
  uso de nuestra Plataforma y todos los Servicios que están vinculados a
  nuestros Términos de Marguz. La Política de privacidad está destinada a
  cumplir con nuestros deberes de transparencia en virtud del " Reglamento
  general de protección de datos ". Los términos en mayúsculas que no se definen
  en esta Política de Privacidad tienen el significado que se les da en nuestras
  Condiciones de Uso https://www.marguz.com/terms. Al utilizar nuestro Servicio,
  usted acepta las prácticas de datos prescritas en esta declaración. Al
  descargar, acceder, usar y / o interactuar con nuestra Plataforma Marguz,
  usted acepta y da su consentimiento a nuestra recopilación, uso y divulgación
  de la información que proporciona como se describe en esta Política de
  privacidad.
  <h2>Modificaciones</h2>
  Marguz siempre se preocupa por mejorar los servicios y buscar la manera de
  crear e innovar para ayudar y lograr su objetivos en relación con el uso de
  nuestra Plataforma Marguz, esta Política de Privacidad puede cambiar con el
  tiempo, así que le recomendamos revisar con frecuencia. La fecha localizada en
  la parte superior, indica la fecha de la última actualización. Cualquier
  política de privacidad revisada sustituirá a todas las políticas de privacidad
  anteriores.
  <h2>Definiciones.</h2>

  1. “<b>Plataforma</b>”, hace referencia al sitio donde dispone de los
  servicios. 2. "<b>Sitios</b>" hace referencia a los sitios web de Marguz como
  www.marguz.co . 3. "<b>Marguz</b>", "<b>nosotros</b>", "<b>nos</b>" o
  "<b>nuestro</b>" significa Marguz S.A.S, www.marguz.co, con respecto a los
  miembros que acceden y utilizan el Servicio de Marguz. 4. "<b
    >Contenido de Usuario</b
  >" significa todo el contenido, como texto, fotos, audio, video u otros
  materiales e información, que un Usuario publica, carga, envía, transmite e
  incluye en su perfil de Usuario. 5. "<b>Contenido de Marguz</b>" significa
  cualquier contenido que Marguz crea y pone a disposición en conexión con la
  Plataforma Marguz, incluido el contenido patentado de Marguz y cualquier
  contenido con licencia o autorizado para su uso a través de Marguz de un
  tercero, pero excluyendo el Contenido de Usuarios. 6. "<b
    >Producto de Marguz</b
  >" significa la(s) Aplicación(es) de "<b>Marguz</b>", el Sitio
  "<b>www.marguz.co</b>" y cualquier sitio web operado por Marguz S.A.S. 7.
  "<b>Profesor</b>" significa un usuario que ofrece y brinda servicios para
  estudiantes. 8. "<b>Estudiante</b>" significa un usuario que compra Servicios
  para profesores.
  <h3>1. ¿Cómo recopilamos la información?</h3>
  Recopilamos información: a. Que usted decide proporcionarnos b.
  Automáticamente a través de su uso de la Plataforma Marguz. Si es residente
  del Espacio Económico Colombiano, nos basamos en uno de los siguientes
  fundamentos legales para procesar información sobre usted: cuando tengamos su
  consentimiento, cuando tengamos un interés legítimo para hacerlo, cuando el
  procesamiento sea necesario para la ejecución de un contrato con usted y
  cuando debamos cumplir con una obligación legal o reglamentaria.
  <h3>2. ¿Qué información recopilamos automáticamente?</h3>

  a. <b>Información de identificación personal</b>: Recogemos información
  personalmente identificable, solamente cuando usted como Usuario nos
  proporciona dicha información directamente en relación con el Servicio.
  Nosotros le pedimos información de identificación personal cuando se registra
  directamente a nuestra Plataforma para obtener una cuenta de Usuario en el
  Servicio Marguz o si mantiene correspondencia con nosotros. Igualmente,
  podemos conservar los mensajes que usted envíe a través del Servicio y podemos
  recopilar la información que usted nos proporciones en el Contenido de Usuario
  que publique en el Servicio. También podemos recibir información personal
  sobre usted de terceros, por ejemplo: si usted accede a nuestra Plataforma o
  Sitio Web a través de un tercero como Facebook o Google, ese tercero puede
  transmitir a Marguz cierta información sobre el uso que hace en el Servicio.
  Si reside o se encuentra en el Espacio Económico Colombiano, también puede
  incluir su dirección IP o identificador de dispositivo. Esta información
  podría incluir cualquier información que hayas permitido al tercero compartir
  con nosotros, y cualquier información que hayas hecho pública en relación con
  ese servicio. Antes de proporcionar información personal, debe revisar y si es
  necesario, ajustar la configuración de privacidad en los sitios web y
  servicios de terceros para vincularlos a nuestros Servicios. Cuando se hace
  referencia a “Información de identificación personal”, se refiere a cualquier
  información que pueda utilizar para identificar a una persona, incluyendo,
  pero sin limitarse a, un nombre y un apellido, una dirección particular u otra
  dirección física, una dirección de correo electrónico, un número de teléfono u
  otra información de contacto. Cuando se realiza un pago del Servicio, es
  posible que se le pida que comparta información de facturación y de pago a
  nuestro procesador de pagos externo y usted acepta el uso de su información de
  facturación y de pago. b. <b>Información no personal</b>: Recogemos y
  utilizamos información sobre sus interacciones con el Servicio de una manera
  que no le identifica como individuo. Podemos recopilar, utilizar y divulgar
  los siguientes tipos de información no personal: Información de las cookies:
  Cuando usted ingresa a nuestro Sitio Web y nuestro Servicio, podemos enviar
  una o más cookies, un pequeño archivo de texto que contiene una cadena de
  caracteres alfanuméricos a su ordenador, el cual identifica su navegador y
  permite a Marguz ayudarle a iniciar sesión más rápido y de esta manera mejorar
  su navegación en el Sitio Web. Una cookie nos puede mostrar información sobre
  cómo usted utiliza el Servicio y nos permite hacer un seguimiento de su uso
  del Servicio a lo largo del tiempo. Por otra parte, aquellas cookies
  persistentes permanecen en su disco duro después de cerrar su navegador. Las
  cookies de sesión son temporales y desaparecen después de cerrar el navegador.
  Usted puede configurar su navegador para que rechace todas las cookies o para
  que le indique cuándo se envía una cookie,sin embargo, es posible que algunas
  características del Servicio no funcionen correctamente si se desactiva la
  posibilidad de aceptar cookies. Información de archivos de registro: Esta
  información es reportada automáticamente por su navegador cada vez que usted
  accede a un sitio web. Cuando usted hace uso de nuestro Servicio, nuestros
  servidores registran automáticamente alguna información de archivos de
  registro. Los registros del servidor pueden incluir información anónima como
  solicitud web, tipo de navegador, páginas y URL de referencia, número de clics
  y su interacción con los enlaces del Servicio, los dominios y otra información
  similar. Información analítica: En Marguz utilizamos herramientas de análisis
  de terceros para ayudarnos a medir el tráfico y las tendencias de uso del
  Servicio. Siendo así, que recopilamos información enviada por su navegador
  como parte de una solicitud de página web incluyendo las páginas web que
  visita, los complementos de su navegador, la anchura y la altura de su
  navegador y otra información que nos ayuda a mejorar el Servicio. Información
  de balizas: Cuando el usuario utiliza el Servicio, podemos emplear balizas web
  que se utilizan para rastrear de forma anónima los patrones de uso en línea de
  nuestros Usuarios de forma anónima. Además, también podemos utilizar balizas
  transparentes en los correos electrónicos basados en HTML que se envían a
  nuestros usuarios para hacer un seguimiento de los correos electrónicos que se
  abren y de los enlaces en los que hacen clic los destinatarios. Esta
  información permite elaborar informes más precisos y mejorar el Servicio.

  <h3>3. ¿Qué información recopilamos y que usted decide proporcionarnos?</h3>
  La información que recopilamos es aquella que usted decide proporcionarnos
  como cuando usted crea una cuenta, administra su perfil de usuario, participa
  en cualquier función interactiva de la Plataforma Marguz, solicita asistencia
  al cliente o comunicarse con nosotros de cualquier modo. La información que
  podemos recopilar incluye su nombre de usuario, país, número de teléfono,
  dirección de correo electrónico, fotografía, avatar, contraseña, preguntas y
  respuestas de seguridad la información que proporciona cuando nos solicita
  ayuda, la información de facturación, el número de la tarjeta de pago, los
  detalles de la cuenta y otra información de contacto o de identificación que
  elija proporcionar directamente. Para su información y conocimiento, Marguz ha
  recopilado las siguientes categoría de información personal: •
  Identificadores, como un nombre real, dirección postal, dirección de Protocolo
  de Internet, • Información profesional o relacionada con el empleo; y •
  Información sobre Educación; • nombre de cuenta u otro identificador similar;
  • Información de audio, electrónica, visual, térmica, olfativa u otra
  información similar de una persona viva.
  <h3>4. ¿Cómo utilizamos su información?</h3>
  Podemos utilizar su información para diversos fines como los siguientes: •
  Proporcionar, mantener y mejorar la plataforma Marguz; • Proporcionar y
  entregar los servicios que solicite y enviarle información relacionada,
  incluidas confirmaciones y facturas; • Enviarle avisos técnicos,
  actualizaciones, alertas de seguridad y mensajes administrativos y de soporte;
  • Responder a sus comentarios, preguntas, solicitudes y brindar servicio al
  cliente; • Personalizar y mejorar la Plataforma Marguz y proporcionar
  anuncios, contenido, conexiones sugeridas y funciones que coincidan con los
  perfiles o actividades de los usuarios; • Enviarle comunicaciones sobre
  productos, servicios, ofertas, promociones o eventos ofrecidos por nosotros y
  otras compañías; • Monitorear y analizar tendencias, uso y actividades en
  relación con la Plataforma Marguz; • Vincular o combinar con la información
  que recibimos de otros para ayudarlo a comprender sus necesidades y brindarle
  un mejor servicio. Toda la información que usted nos proporcione y sus datos
  se conservan durante el tiempo que sea necesario para proporcionar el servicio
  que ha solicitado y posteriormente para fines legales o comerciales legítimos.
  Estos pueden incluir períodos de retención: establecidos por ley, contrato u
  obligaciones similares aplicables a nuestras operaciones comerciales,para
  preservar, resolver, defender o hacer cumplir nuestros derechos legales /
  contractuales o necesarios para mantener registros comerciales y financieros
  adecuados y precisos.
  <h3>5. ¿Qué tipo de información compartiremos?</h3>
  Información de identificación personal: No alquilaremos ni venderemos su
  Información de identificación personal a terceros fuera de Marguz sin su
  consentimiento, excepto como se indica a continuación: a.
  <b>Informaciones que compartimos sobre su información personal</b>: Podemos
  compartir su información personal con terceros socios comerciales con el fin
  de proporcionarle el Servicio, esa información es por ejemplo, proveedores de
  correo electrónico y proveedores de servidores. Los socios comerciales tendrán
  un acceso ilimitado a la identificación personal que sea necesaria para
  prestar el Servicio y exigimos que los terceros cumplan con esta Política de
  Privacidad. b.
  <b>¿Con quién puede elegir compartir su información personal?</b>: Cualquier
  información personal que usted revele voluntariamente para su publicación en
  el Servicio como el Contenido de Usuario queda a disposición del público. Al
  eliminar la información que usted ha proporcionado a nuestra Plataforma, es
  posible que queden copias visibles en las páginas de caché y archivadas del
  Servicio o si otros Usuarios han copiado o guardado esa información. Podemos
  utilizar un proveedor de servicios externo para gestionar el procesamiento de
  pagos. Al utilizar los aspectos de pago del Servicio, usted acepta compartir
  su información de facturación y otros datos de pago con cualquier procesador
  de pagos de terceros con el fin de procesar sus pagos. c.
  <b>¿Qué pasa con su información personal en caso de cambio de control?</b>:
  Marguz puede comprar, vender o dividir la empresa o cualquier combinación de
  sus servicios, activos y negocios. La información personal como los nombres y
  las direcciones de correo electrónico de los clientes, el contenido de los
  Usuarios y otra información de los Usuarios, igualmente la información no
  personal que esté relacionada con el Servicio, posiblemente se encuentre entre
  los elementos transferidos en este tipo de transacción. También podemos
  transferir o ceder dicha información en el curso de desinversiones
  corporativas, fusiones, adquisiciones, quiebras, disoluciones o transacciones
  o procedimientos similares. d.
  <b>¿Cuando estamos obligados a compartir su información personal?</b>:
  Divulgaremos información personal cuando nos exija por ley o por citación
  judicial o si creemos que dicha acción es necesaria para: • Cumplir con la ley
  y con las solicitudes razonables de las fuerzas del orden; • Hacer cumplir
  nuestras Condiciones de Uso http://www.marguz.co/terms, o para proteger la
  seguridad o la integridad de nuestro Servicio; • Para ejercer o proteger los
  derechos, la propiedad o la seguridad personal de Marguz, nuestros Usuarios u
  otros. e. <b>Información no personal</b>: Podemos compartir información no
  personal, incluyendo información obtenida a través de herramientas como
  cookies, archivos de registro y balizas: • De cualquier manera permitida para
  la información de identificación personal; • Con nuestros socios comerciales
  de terceros. También podemos agregar o despojar los datos de todas las
  características de identificación personal y podemos compartir esos datos
  agregados y anónimos con terceros. Cuando se actualiza o se elimina de su
  información personal, usted tiene algunos derechos en relación con su
  información de identificación personal. Usted puede acceder a su
  identificación personal y confirmar que sigue siendo correcta y está
  actualizada, elegir si desea o no recibir material de nosotros o de algunos de
  nuestros socios y solicitar que eliminemos o le proporcionaremos una copia de
  sus datos personales iniciando sesión en el que el Sitio y visitando la página
  de su CUenta de Usuario. Si desea más información en relación con sus derechos
  o quiere ejercer alguno de ellos, también puede ponerse en contacto con
  nosotros a través de soporte@marguz.com.
  <h3>
    6. ¿Cuales son las formas en las que puede compartir su información en
    Marguz?
  </h3>
  La Plataforma Marguz puede ofrecer funciones para compartir en redes sociales
  y otras herramientas integradas como “Me gusta” de Instagram, Facebook o
  Youtube. El uso de esas funciones permite compartir las acciones que realiza
  en la Plataforma de Marguz con otros medios y viceversa. El uso de esas
  funciones le permite compartir información con amigos o el público, según la
  configuración que establezca en la entidad que proporciona la función de
  compartir en redes sociales.
  <h3>7. ¿Cómo mantenemos segura su información?</h3>
  En Marguz tomamos medidas de seguridad para ayudar a proteger la información
  que recopilamos sobre usted contra pérdida, robo, uso indebido, acceso no
  autorizado, divulgación, alteración y destrucción. Estas medidas de seguridad
  pueden incluir prácticas como mantener su datos confidenciales en un servidor
  seguro detrás de un firewall y transmitir información confidencial ingresada
  mientras usa la Plataforma Marguz usando tecnología de capa de conexión
  segura. La entrada o el uso no autorizados, fallas de hardware o software y
  otros factores pueden comprometer la seguridad de la información del usuario.
  Su contraseña es un componente importante de nuestro sistema de seguridad y,
  como resultado, es su responsabilidad proteger su contraseña. No comparta su
  contraseña con terceros. Si su contraseña se ha visto comprometida por
  cualquier motivo, debe cambiar su contraseña inmediatamente.
  <h3>8. Nuestras políticas relacionadas con niños.</h3>
  Marguz no recopila ni solicita información de identificación personal de
  ninguna persona menor de 18 años, ni permite que dichas personas se registren
  como usuarios. El servicio no está dirigido a niños menores de 18 años. Si
  usted es menor a dicha edad, por favor no nos envíe ninguna información sobre
  usted, incluyendo su nombre, dirección, número de teléfono o dirección de
  correo electrónico. En el caso de que nos enteremos de que hemos recopilado
  información personal de un niño menor de 18 años sin verificar el
  consentimiento de sus padres, eliminaremos esa información lo antes posible.
  Si cree que podemos tener información de o sobre un niño menor de 18 años,
  póngase en contacto con nosotros en soporte@marguz.co.
  <h3>9. Opciones y controles del Usuario.</h3>
  En Marguz le damos opciones cuando se trata de usos importantes y recopilación
  de su información. Cuando se trate de acceder, ver, actualizar, corregir,
  eliminar o transferir sus datos personales o para actualizar su preferencias
  de suscripción, inicie sesión en su cuenta y visite " Configuración de la
  cuenta ". Cuando dependamos del consentimiento para recopilar y utilizar
  información sobre usted, puede retirar su consentimiento en cualquier momento.
  Si realiza una solicitud para eliminar sus datos personales y esos datos son
  necesarios para los productos o servicios que ha comprado, la solicitud será
  atendida solo en la medida en que ya no sea necesaria en nuestra Plataforma
  Marguz.
  <h3>10. Contáctanos</h3>
  Si tiene alguna pregunta sobre esta Política de privacidad, comuníquese con
  nosotros de la siguiente manera: Correo electrónico: soporte@marguz.co
  Whatsapp: +(57) 322 470 4403
</div>
