<div class="colorContainer">
  <div class="cajax p-4">
    <div class="container-fluid sombraContainer">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-6 col-xl-4 col-lg-4 colPaddings">
          <div class="primeraCol">
            <div class="datepicker mt-3">
              <mat-calendar [(selected)]="fecha" (selectedChange)="onSelect($event)"></mat-calendar>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-xl-8 col-lg-8 colPaddings2">
          <div class="segundaCol mt-4">
            <app-cronograma tipoUsuario="1"></app-cronograma>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODALES  -->

  <div class="modal fade" id="modalDetallesAdmin" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3 class="text-center title">Detalles de la clase</h3>
          <p class="subtitle">Inglés nivel corporativo</p>
          <br />
          <div class="detalles-clase">
            <p class="text-boldes">Alumno: <span>Stan Marsh</span></p>
            <p class="text-boldes">Hora: <span>9:00 P.M.</span></p>
            <p class="text-boldes">Fecha: <span>13 de Junio, 2021</span></p>
            <p class="text-boldes">Descripción:</p>
            <p class="text-boldes">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore odit modi itaque laborum iusto nulla. Maiores
                repudiandae molestias ad consequatur recusandae incidunt, eius,
                amet architecto eligendi excepturi impedit eos! Saepe?</span>
            </p>
            <p class="text-boldes">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore odit modi itaque laborum iusto nulla. Maiores
                repudiandae molestias ad consequatur recusandae incidunt, eius,
                amet architecto eligendi excepturi impedit eos! Saepe?</span>
            </p>
            <p class="text-boldes">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore odit modi itaque laborum iusto nulla. Maiores
                repudiandae molestias ad consequatur recusandae incidunt, eius,
                amet architecto eligendi excepturi impedit eos! Saepe?</span>
            </p>
          </div>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="btn btn-success bs">Aprobar</button>
          <button type="button" class="btn btn-danger bs">Cancelar</button>
          <button type="button" class="btn btn-primary bs">Postponer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODALES  -->

  <!-- <div class="button-add fixed-bottom">
    <button class="bt">
      <i class="fas fa-plus-circle"></i>
    </button>
  </div> -->

  <script>
    $(document).ready(function () {
      $(".datepicker").datepicker({
        prevText:
          '<i class="fa fa-fw fa-angle-left" style="color:#E31B36;font-size:14px"></i>',
        nextText:
          '<i class="fa fa-fw fa-angle-right" style="color:#E31B36;font-size:14px"></i>',
        monthNames: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ],
        monthNamesShort: [
          "Ene",
          "Feb",
          "Mar",
          "Abr",
          "May",
          "Jun",
          "Jul",
          "Ago",
          "Sep",
          "Oct",
          "Nov",
          "Dic",
        ],
        dayNames: [
          "domingo",
          "lunes",
          "martes",
          "Miércoles",
          "jueves",
          "viernes",
          "Sábado",
        ],
        dayNamesShort: ["DOM", "LUN", "MAR", "MIE", "JUE", "VIE", "SAB"],
        dayNamesMin: ["DOM", "LUN", "MAR", "MIE", "JUE", "VIE", "SAB"],
      });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</div>