<div class="colorContainer containerBox">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="img-header mt-5">
          <img src="assets/Logo/cara.png" class="img-fluid mt-4" />
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 col-xl-2 col-lg-2 w wx">
            <div class="img-perfil mt-3">
              <img src="assets/Logo/ras.png" class="img-fluid" />
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-xl-8 col-lg-8 w p-3 ws">
            <h2 class="mt-2">{{ profesor.nombre }}</h2>
            <p class="atrevete">{{ profesor.slogan }}</p>
            <span class="ajust-world">
              <i class="fas fa-check-circle circle"></i>
              <i
                class="fas fa-globe-americas"
                style="color: #2f80ed; margin-left: 5px"
                ><b style="margin-left: 5px" class="country">{{
                  profesor.pais
                }}</b></i
              >
              <br />
            </span>
            <p class="mt-2" style="color: #ababab">
              Enseña:
              <span *ngFor="let idioma of profesor.idiomas" class="enseña"
                >{{ idioma }}
              </span>
            </p>
            <p style="color: #ababab">
              Habla:
              <span *ngFor="let idioma of profesor.habla" class="enseña">{{
                idioma
              }} </span>
            </p>
            <p class="mb-4">
              {{ profesor.descripcion }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <br />
        <div class="caja-blanca mt-5">
          <p class="horary">Horarios disponibles</p>
          <div class="table mt-2">
            <table class="table table-bordered">
              <thead>
                <tr style="border: none">
                  <th style="border: none"></th>
                  <th style="border: none"></th>
                  <th style="border: none"></th>
                  <th style="border: none">
                    Lu <br />
                    03
                  </th>
                  <th style="border: none">
                    Ma <br />
                    04
                  </th>
                  <th style="border: none">
                    Mi <br />
                    05
                  </th>
                  <th style="border: none">
                    Ju <br />
                    06
                  </th>
                  <th style="border: none">
                    Vi <br />
                    07
                  </th>
                  <th style="border: none">
                    Sa <br />
                    08
                  </th>
                  <th style="border: none">
                    Do <br />
                    09
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="border: none">00</td>
                  <td style="border: none">-</td>
                  <td style="border: none">04</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="mark-red"></td>
                  <td></td>

                  <td class="mark-red"></td>
                </tr>
                <tr>
                  <td style="border: none">04</td>
                  <td style="border: none">-</td>
                  <td style="border: none">08</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="mark-red"></td>
                  <td></td>
                </tr>
                <tr>
                  <td style="border: none">08</td>
                  <td style="border: none">-</td>
                  <td style="border: none">12</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="mark-red"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td style="border: none">12</td>
                  <td style="border: none">-</td>
                  <td style="border: none">16</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="mark-red"></td>
                  <td class="mark-red"></td>
                  <td class="mark-red"></td>
                </tr>
                <tr>
                  <td style="border: none">16</td>
                  <td style="border: none">-</td>
                  <td style="border: none">20</td>
                  <td></td>
                  <td class="mark-red"></td>
                  <td class="mark-red"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td style="border: none">20</td>
                  <td style="border: none">-</td>
                  <td style="border: none">24</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="mark-red"></td>
                  <td class="mark-red"></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="caja-blanca p-4 mt-5">
          <span style="float: left; font-weight: 600">Costo por hora:</span>
          <span style="float: right" id="costo">USD ${{profesor.valor}}</span>
          <button type="button" class="w-100 btn btn-primary mt-4">
            Contratar
          </button>
        </div>
      </div>
    </div>

    <!-- MODALES PAGO -->

    <!-- MODALES  -->
  </div>
</div>
