<div class="colorContainer containerBox">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="img-header mt-5">
          <ng-template
            [ngIf]="profesor.acount.url_youtube"
            [ngIfElse]="elseBlockVideo"
          >
            <iframe
              class="mg-fluid mt-4"
              style="width: 610px; height: 300px"
              [src]="profesor.acount.url_youtube | safe"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              width="100%"
            ></iframe>
          </ng-template>
          <ng-template #elseBlockVideo>
            <iframe
              class="mg-fluid mt-4"
              style="width: 610px; height: 300px"
              src="https://www.youtube.com/embed/RjGvw0aftCE"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </ng-template>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 col-xl-2 col-lg-2 w wx">
            <div class="img-perfil mt-3">
              <ng-template
                [ngIf]="profesor.acount.url_photo_perfil"
                [ngIfElse]="elseBlockMini"
              >
                <img
                  [src]="host + profesor.acount.url_photo_perfil"
                  class="img-fluid"
                />
              </ng-template>
              <ng-template #elseBlockMini>
                <img class="img-fluid" src="./assets/avatar-icon.jpg" />
              </ng-template>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-xl-8 col-lg-8 w p-3 ws">
            <h2 class="mt-2">{{ profesor.name + " " + profesor.lastname }}</h2>
            <!--<p class="atrevete">{{ profesor.slogan }}</p> -->
            <span class="ajust-world">
              <i class="fas fa-check-circle circle"></i>
              <i
                class="fas fa-globe-americas"
                style="color: #2f80ed; margin-left: 5px"
                ><b style="margin-left: 5px" class="country">{{
                  profesor.acount.country.name
                }}</b></i
              >
              <br />
            </span>
            <p class="mt-2" style="color: #ababab">
              Enseña:
              <span
                *ngFor="let idioma of profesor.acount.languajes"
                class="enseña"
                >{{ idioma.name }}
              </span>
            </p>
            <p style="color: #ababab">
              Habla:
              <span
                *ngFor="let idioma of profesor.acount.languajes"
                class="enseña"
                >{{ idioma.name }}
              </span>
            </p>
            <p class="mb-4" style="width: 100%; word-break: break-all">
              {{
                profesor.acount.description
                  ? profesor.acount.description
                  : "Sin descripción"
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <br />
        <div class="caja-blanca mt-5">
          <p class="horary">Horarios disponibles</p>
          <p style="margin-top: -20px; margin-left: 9px">
            <small class="text-danger">
              Aquí encuentra las horas disponibles que tiene el docente, para
              ello los campos en <strong>blanco</strong> son los que el profesor
              tiene disponible y los campos en <strong>amarillo</strong> es por
              que no está disponible y no va realizar clases, solo tendra
              espacio en los campos en blanco</small
            >
          </p>
          <div class="table mt-2">
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
        <div class="caja-blanca p-4 mt-5">
          <span style="float: left; font-weight: 600">Costo por hora:</span>
          <span style="float: right" id="costo"
            >USD ${{ profesor.acount.price ? profesor.acount.price : 0 }}</span
          >
          <button
            type="button"
            class="w-100 btn btn-primary mt-4"
            (click)="contratar()"
            [disabled]="!auth"
          >
            Contratar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
