Política de reembolso y pago de Marguz

La compra y el pago de las clases serán acorde a esta política de reembolso.

LE PEDIMOS QUE LEA DETENIDAMENTE ANTES DE REALIZAR UN PAGO, YA QUE DETERMINA SUS DERECHOS CON RESPECTO A SUS COMPRAS, INCLUIDAS LAS RESTRICCIONES Y EXCLUSIONES ESENCIALES Y EXCLUSIONES ESENCIALES.

Marguz se esfuerza por asegurar un claro entendimiento de las relaciones financieras entre estudiantes y tutores con respecto a los servicios que proporcionamos. Esta política se aplica a todos los servicios y funciones disponibles a través del sitio web y plataforma.

    1. Transacciones entre tutores y estudiantes.
Marguz facilita los contratos entre los usuarios (los estudiantes y los tutores), mediante el suministro de una plataforma para solicitar, entregar y pagar por dichos servicios. Marguz es sólo una plataforma y en ningún caso será parte de los contratos realizados por los tutores y los estudiantes, o de cualquier otro servicio o material proporcionado por un tutor. No será en ningún caso responsable de supervisar las transacciones entre estudiantes y tutores.

    2. Cancelación de una lección.
Las clases pueden ser canceladas en cualquier momento hasta 4 horas antes del comienzo de la clase y reprogramadas después.

De lo contrario, se le cobrará el importe total de la clase programada, a menos que el tutor esté de acuerdo en no cobrarle tras una discusión formal. Nos reservamos el derecho de que cada tutor cobre el coste de la lección que se cancele con menos de 4 horas antes de su hora prevista, sin posibilidad de que este importe sea reembolsado al alumno o transferido a otros tutores.

Puede cancelar/programar lecciones a través de su cuenta Marguz fácilmente haciendo clic en el botón correspondiente en "Mis lecciones" para la lección programada en cualquier momento hasta 4 horas antes de su lección. Se le pedirá que indique el motivo de la cancelación que, en la mayoría de los casos, se transmitirá a su tutor.

    3. Cambio de tutor.
En caso de que decida hacer uso de su derecho a cambiar de tutor después de la primera clase, sólo podrá hacerlo más de 2 (dos) veces. En caso de que decida cambiar de tutor más de 2 (dos) veces, la siguiente primera lección con cualquier otro tutor nuevo deberá ser pagada.

Si el tutor no le conviene o la lección no se llevó a cabo, le garantizamos una lección gratuita con otro tutor que usted elija en el sitio, o le reembolsaremos el pago inmediatamente después de enviarlo.

En caso de que el profesor no se adapte a sus necesidades, o de que su clase programada no se lleve a cabo, pero se confirme accidentalmente, puede solicitarnos el reembolso de su dinero o podemos transferir  estos fondos a otro tutor en un plazo de 3 días a partir de la hora de inicio de la lección programada. de la hora de inicio de la clase programada.

    4. Reembolsos.
Para realizar un reembolso, la cancelación de la(s) lección(es) debe hacerse en 24 horas antes de que la lección de la hora de inicio de la clase. 

Si se dan circunstancias atenuantes que impliquen la pérdida de una clase o la necesidad de cancelarla con poca antelación, el tutor podrá efectuar estos reembolsos a su discreción, pero no está obligado a hacerlo. 

Por favor, póngase en contacto con su tutor en primera instancia si desea que le devuelvan el dinero. Si no recibe una respuesta, envíe un correo electrónico a support@marguz.co con la siguiente información en un plazo de 72 horas desde la hora de la clase original:

- Fecha y hora de la clase
- Motivo de la solicitud de reembolso
- Nombre de su tutor

La opción de reembolso estará disponible para su pago sólo durante el período de 90 (noventa) días desde la fecha en que se realizó el pago para todas las clases no confirmadas. Marguz no es responsable de ningún tipo de comisión cobrada por los sistemas de pago y no la cubrirá al iniciar un reembolso. En la medida permitida por la ley, cualquier reembolso en cualquier momento es a nuestra única discreción.

En caso de que haya olvidado reclamar su reembolso durante el periodo indicado, puede seguir utilizando estos fondos y comprar la cantidad apropiada de horas con cualquier otro tutor.

En caso de que elija una opción de reembolso, su rapidez y la disponibilidad de los fondos reembolsados en su cuenta bancaria dependerá exclusivamente de las condiciones y políticas de su banco en cuanto a la rapidez de las transacciones. El reembolso sólo puede realizarse una vez. Si compra otra(s) lección(es) más adelante, no estará sujeta a la misma solicitud de reembolso.

No se emitirá ningún reembolso en caso de que el usuario haya perdido y/u olvidado sus credenciales de acceso (nombre de usuario y contraseñas), lo que ha provocado la pérdida de datos, la pérdida temporal de acceso a la cuenta del usuario o cualquier otros inconvenientes para el usuario.

No se efectuará ningún reembolso en caso de que el usuario haya perdido la conexión debido a la ausencia de acceso a Internet, restablecimiento de fábrica o actualizaciones. 

    5. Procedimiento de reembolso.
El usuario debe enviar su solicitud de reembolso a support@marguz.co. La decisión de reembolso se tomará en un plazo de 30 días naturales. En la medida en que lo permita la ley, cualquier reembolso en cualquier momento se hará a nuestra entera discreción.

    6. Devolución de cargos
En el caso de una devolución de cargo por parte de una compañía de tarjetas de crédito (o una acción similar por parte de otro proveedor de pagos permitido por nosotros) en relación con su compra de cualquier lección(es), usted acepta que podamos suspender el acceso a cualquiera y todas las cuentas que tenga con nosotros.

