<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>
        <fa-icon style="font-size: 14px" [icon]="user"></fa-icon>
        Registrar como Estudiante
      </p>
    </div>
    <div class="bodyBox">
      <div class="buttonsBox">
        <app-boton-facebook class="socialButton"></app-boton-facebook>
        <app-boton-google class="socialButton"></app-boton-google>
      </div>
      <div class="divider">
        <div class="circleBox">
          <div class="innerCircleBox"></div>
        </div>
      </div>
      <div class="formBox">
        <!-- <form [formGroup]="loginForm" style="width: 40%;"> -->
        <form>
          <div class="formInput">
            <input type="hidden" formControlName="id" class="form-control" />
          </div>
          <div class="formInput">
            <label for="nombre" class="col-form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" />
          </div>
          <div class="formInput">
            <label for="apellido" class="col-form-label">Apellido</label>
            <input
              type="text"
              formControlName="apellido"
              class="form-control"
            />
          </div>
          <div class="formInput">
            <label for="telefono" class="col-form-label">Telefono</label>
            <input
              type="text"
              formControlName="telefono"
              class="form-control"
            />
          </div>
          <div class="formInput">
            <label for="pais" class="col-form-label">Pais</label>
            <select
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="countrySelected"
              class="form-control"
              (change)="changeStates()"
            >
              <option
                *ngFor="let country of countries"
                [value]="country.country_name"
              >
                {{ country.country_name }}
              </option>
            </select>
          </div>
          <div class="formInput">
            <label for="estado" class="col-form-label">Estado</label>
            <select
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="stateSelected"
              class="form-control"
              (change)="changeCites()"
            >
              <option *ngFor="let state of states" [value]="state.state_name">
                {{ state.state_name }}
              </option>
            </select>
          </div>
          <div class="formInput">
            <label for="ciudad" class="col-form-label">Ciudad</label>
            <select
              [(ngModel)]="citySelected"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            >
              <option *ngFor="let city of cities" [value]="city.city_name">
                {{ city.city_name }}
              </option>
            </select>
          </div>
          <div class="formInput">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" />
          </div>
          <div class="formInput">
            <label for="email" class="col-form-label">Contraseña</label>
            <input
              type="password"
              formControlName="contrasena"
              class="form-control"
            />
          </div>
          <div class="formInput">
            <label for="fotodeperfil" class="col-form-label"
              >Foto de perfil</label
            >
            <div class="inputFile">
              <input type="file" style="display: none" />
            </div>
          </div>
          <div class="formInput formIdiomas">
            <label for="intereses" class="col-form-label"
              >Intereses <br
            /></label>
            <fa-icon
              style="font-size: 24px; color: red"
              [icon]="icon"
              (click)="agregarIntereses()"
            ></fa-icon>
          </div>
          <div class="formButton">
            <button type="button" (click)="registrar()">Registrarme</button>
          </div>
        </form>
        <br />
      </div>
      <div class="recoverBox">
        <p>
          Al dar click en continuar o registrarme,acepta los
          <br />
          <a routerLink="/politicas/estudiante"
            >Terminos y Condiciones de servicio y la politica de privacidad de
            marguz</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-confirm
  title="Registro exitoso"
  [msg]="registroExitosoMessage"
  buttonMsg="Aceptar"
  *ngIf="isRegistroExitoso"
  (closeConfirm)="login()"
></app-confirm>
