<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>
        <fa-icon style="font-size: 14px" [icon]="user"></fa-icon>
        Registrar como Estudiante
      </p>
    </div>
    <div class="bodyBox">
      <div class="buttonsBox">
        <app-boton-facebook class="socialButton"></app-boton-facebook>
        <app-boton-google class="socialButton"></app-boton-google>
      </div>
      <div class="divider">
        <div class="circleBox">
          <div class="innerCircleBox"></div>
        </div>
      </div>
      <div class="formBox">
        <app-form-registro
          tipoUsuario="Student"
          (registrar)="registrar($event)"
        ></app-form-registro>
        <br />
      </div>
      <div class="recoverBox">
        <p>
          Al dar click en continuar o registrarme, acepta los
          <br />
          <a routerLink="/politicas/estudiante"
            >Terminos y Condiciones de servicio y la politica de privacidad de
            marguz</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-confirm
  title="Registro exitoso"
  [msg]="registroExitosoMessage"
  buttonMsg="Aceptar"
  *ngIf="isRegistroExitoso"
  (closeConfirm)="login()"
></app-confirm>
