<div class="modal-dialog">
  <div class="modal-content">
    <form [formGroup]="form">
      <div class="modal-header text-center">
        <h5 class="modal-title">Forma de pago</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--Nombre no editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Nombre</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <input
              type="text"
              class="form-control"
              readonly
              formControlName="namePayu"
            />
          </div>
          <!--valor de la hora no editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Precio de la hora</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <input
              type="number"
              class="form-control text-center"
              readonly
              formControlName="pricePayu"
            />
          </div>
          <!--hora a contratar editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Semanas Contratadas</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <input
              type="number"
              class="form-control text-center"
              required
              formControlName="hourPayu"
              (change)="calcPrice()"
            />
          </div>
          <!--moneda electronico no editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Moneda</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <select
              class="form-control"
              formControlName="currency"
              (change)="selectCurrent()"
            >
              <option value="COP">COP</option>
              <option value="USD">USD</option>
              <option value="MXN">MXN</option>
              <option value="ARS">ARS</option>
              <option value="PEN">PEN</option>
              <option value="BRL">BRL</option>
              <option value="CLP">CLP</option>
            </select>
          </div>
          <!--correo electronico no editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Correo electrónico</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <input
              type="email"
              class="form-control"
              readonly
              formControlName="emailPayu"
            />
          </div>
          <!--descripcion no editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Descripción</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <textarea
              class="form-control"
              rows="3"
              formControlName="description"
              resize="none"
            ></textarea>
          </div>
          <!--total price a contratar editable-->
          <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
            <label class="form-label">Valor Total:</label>
          </div>
          <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
            <label class="form-label">$ {{ totalPrice }}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button
          class="btn btn-primary btn-sm"
          [disabled]="!form.valid"
          (click)="paymentPaypal()"
        >
          <fa-icon class="saveIcon" [icon]="saveIcon"></fa-icon> paypal
        </button>
        <button
          class="btn btn-success btn-sm"
          [disabled]="!form.valid"
          (click)="paymentPayu()"
        >
          <fa-icon class="saveIcon" [icon]="saveIcon"></fa-icon> Payu
        </button>
      </div>
    </form>
  </div>
</div>
