<form [formGroup]="form">
<div class="blackBox" (click)="close()"></div>
<div class="logBox caja-blanca">
  <div class="headerBox">
    <h5>Editar información de pago</h5>
    <div class="closeButton">
      <button class="closeB" (click)="close()">X</button>
    </div>
  </div>
  <br />
    <div class="bodyBox">
      <div class="accordion" id="paymentAcordion">
        <div class="accordion-item" formGroupName="payu">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
              (click)="getPaymentMethod('payu')"
            >
              PayU
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            [ngClass]="{'show': type == 'payu'}"
            aria-labelledby="headingOne"
            data-bs-parent="#paymentAcordion"
          >
            <div class="accordion-body">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Nombre</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="user_name_payu" required />
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Cedula/ID</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="number" class="form-control" formControlName="identification_payu" required />
                </div>
                <!-- <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Merch ID</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="merch_id" required />
                </div> -->
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Correo electrónico</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="email" class="form-control" formControlName="email_payu" required />
                  <span *ngIf="form.get('payu')?.get('email_payu')?.invalid && form.get('payu')?.get('email_payu')?.dirty" class="text-danger">Email invalido</span>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Banco</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="bank_payu" required />
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Tipo de cuenta</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="account_type_payu" required />
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Numero de cuenta</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="number" class="form-control" formControlName="number_account_payu" required />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
              (click)="getPaymentMethod('paypal')"
            >
              PayPal
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            [ngClass]="{'show': type == 'paypal'}"
            aria-labelledby="headingTwo"
            data-bs-parent="#paymentAcordion"
          >
            <div class="accordion-body" formGroupName="paypal">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Correo electrónico</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="email" class="form-control" formControlName="email_paypal" required />
                  <span *ngIf="form.get('paypal')?.get('email_paypal')?.invalid && form.get('paypal')?.get('email_paypal')?.dirty" class="text-danger">Email invalido</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
              (click)="getPaymentMethod('bank')"
            >
              Banco
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            [ngClass]="{'show': type == 'bank'}"
            aria-labelledby="headingThree"
            data-bs-parent="#paymentAcordion"
          >
            <div class="accordion-body" formGroupName="bank">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Titular de la cuenta </label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="user_name_bank" required />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label"> Tipo de cuenta</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="account_type_bank" required />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Banco</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="bank"  required />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Número de cuenta</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="number" class="form-control" formControlName="number_account_bank" equired />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Descripción breve</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="text" class="form-control" formControlName="description_bank" required />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-xl-4 col-lg-4">
                  <label class="form-label">Correo electrónico</label>
                </div>
                <div class="mb-3 col-sm-12 col-xs-12 col-md-4 col-xl-8 col-lg-8">
                  <input type="email" class="form-control" formControlName="email_bank" required />
                  <span *ngIf="form.get('bank')?.get('email_bank')?.invalid && form.get('bank')?.get('email_bank')?.dirty" class="text-danger">Email invalido</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn saveButton" (click)="close(); save()">
        <fa-icon class="saveIcon" [icon]="saveIcon"></fa-icon>

        <!--           <svg
            style="margin-left: -69%; margin-top: -4%"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-post-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1 0-1zm0 3h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"
            />
          </svg> -->
        <p>Guardar</p>
      </button>
    </div>
  </div>
</form>
