<h1>Política del profesor.</h1>
Si usted quiere ofrecer servicios como Profesor en la Plataforma Marguz, debe
leer y aceptar estas Políticas para Profesores. Si no acepta esta política para
Profesores, no estará autorizado para enseñar en la Plataforma Marguz y no será
elegido para recibir ningún beneficio de Marguz por los Servicios para
profesores que brinde. Esta política de Profesores se diseña con el fin de
fomentar los más altos estándares de comportamiento de los Profesores en sus
relaciones con los Estudiantes para proporcionar principios y para guiar a los
Profesores en su conducta cuando brindan el Servicio de Profesores e interactúan
con los Estudiantes. Nuestros Profesores provienen de todo el mundo y por
consiguiente están acostumbrados a una variedad de normas culturales diferentes,
por lo tanto en esta Política para Profesores intenta adoptar estándares
universales. Esta Política para Profesores no intenta abordar todas las
situaciones potenciales que podrían surgir cuando los maestros interactúan con
los estudiantes en la Plataforma Marguz, sino que proporciona principios para el
comportamiento ético y profesional que pueden servir como guía con respecto a
las expectativas de Marguz. <br /><br />
1. <b>Registro de profesores.</b> Para convertirse en Profesor en la Plataforma
Marguz, primero debe presentar una solicitud completa junto con una copia de su
pasaporte o junto a una tarjeta de identificación oficial por las autoridades
gubernamentales correspondientes a través de la Plataforma Marguz. Después de
eso, Marguz realizará una evaluación sobre su perfil completo para su
aprobación. Si su solicitud de Profesor es aprobada, inmediatamente tendrá el
acceso a nuestros Servicios para Profesores y tendrá la capacidad de crear y
administrar un perfil de profesor en la Plataforma Marguz y podrá comenzar a
proporcionar sus servicios como profesor. En la medida en que lo permita la ley
aplicable, Marguz puede obtener: • Informes de verificación de antecedentes de
registros públicos a través de proveedores externos con respecto a asuntos tales
como condenas penales o registros de delincuentes sexuales; • Informes de
verificación de identidad.Como condición para postularse para convertirse en
Profesor, usted acepta y nos autoriza a utilizar su información personal, como
su nombre completo y fecha de nacimiento, para obtener dichos informes.Para
obtener dichos informes de verificación de identidad, también acepta y nos
autoriza a proporcionar la copia de su pasaporte o tarjeta de identificación
oficial que envió a un proveedor externo, comoSum ＆ Substance. <br /><br />2.
<b>Descripción de los servicios de los profesores.</b> Todos los profesores
deben crear una descripción de sus servicios para profesores en la plataforma
Marguz.Al crear la descripción de sus Servicios de enseñanza, acepta lo
siguiente: • Escriba una descripción de servicio específica y detallada con
lecciones y un alcance de enseñanza claros; • Establezca expectativas que pueda
cumplir o superar; • No ofrezca servicios con la intención de cometer fraude,
proporcione servicios distintos a los descritos en su descripción ni ofrezca
ningún servicio a cambio de comentarios positivos o sin costo alguno; • No
anuncie ningún servicio, plataforma, software o aplicación de enseñanza de
terceros;y • No incluya ninguna información de contacto personal, incluidos,
entre otros, correo electrónico, número de teléfono o número de cuenta de redes
sociales. <br /><br />3. <b>Solicitud para ser profesor en Marguz.</b> Una vez que
reciba una solicitud de servicio de profesor de un estudiante, acepta lo
siguiente: • Utilice la plataforma Marguz para gestionar todas las solicitudes
de servicios para profesores de los estudiantes; • Mantenga un registro de todos
los detalles importantes de la comunicación entre usted y el Estudiante.Para
evitar dudas, la comunicación puede realizarse a través de correos electrónicos,
mensajes instantáneos, conversaciones telefónicas o en persona, y los detalles
importantes generalmente incluyen información relacionada con el alcance de sus
Servicios para profesores, sus plazos y disponibilidad para brindar cualquier
Servicio para profesores, el precio, sus comentarios al Estudiante, cualquier
cambio de horario, cualquier retraso en la prestación de su Servicio de Maestro
y finalización de las Lecciones; • Responder con prontitud a todas las
comunicaciones relacionadas con los Servicios para profesores, ya sea de un
estudiante o de Marguz; y • Responder a todas las solicitudes de Servicios para
profesores aceptando, rechazando o proponiendo un cambio de fecha / hora.No
ignore las solicitudes de servicio de enseñanza y permita que caduquen. <br /><br />4.
<b>Políticas de lecciones.</b> Se espera que todos los profesores de Marguz,
cumplan con las siguientes políticas al dar una lección: • Sea responsable y
comprometido(a) con su lección programada. Cuando una lección es confirmada es
un compromiso que hace con un estudiante.Usted tiene el derecho de reprogramar o
cancelar como último recurso y sólo después de que se lo haya comunicado a su
Estudiante.Si sabe que estará ausente y no podrá responder a los Estudiantes
durante un período determinado, asuma la responsabilidad de notificar a sus
Estudiantes sobre su ausencia y actualizar la información de disponibilidad en
el perfil de su Cuenta de Marguz en consecuencia. • Inicie los servicios para
profesores a tiempo. Es importante que un profesor comience cualquier lección a
la hora programada con el estudiante y deben iniciar el contacto con el
estudiante, particularmente con un estudiante primerizo. • Hacer registros. Los
profesores deben mantener un registro de todos los detalles importantes de las
comunicaciones con los Estudiantes.Si hay una disputa entre el profesor y el
alumno, Marguz solicitará tanto al profesor como al alumno que proporcionen
pruebas en el formato de capturas de pantalla, y dichas capturas de pantalla
deberán contener toda la información relacionada con dicha disputa, como la
fecha, la hora y otros detalles de comunicación. • Conéctese con el estudiante.
Los profesores deben conectarse con sus alumnos en la plataforma de comunicación
acordada mucho antes de la hora de inicio programada para la lección.No espere
hasta el último minuto. • Esperando a un estudiante que llega tarde. Si un
estudiante llega tarde a una lección programada, el profesor debe esperar al
estudiante hasta el final del período de la lección programada.El profesor debe
estar disponible para comenzar la lección en cualquier momento durante el
período programado para la lección.Sin embargo, no se requiere que el profesor
recupere el tiempo perdido debido a la llegada tardía del estudiante. • Termine
la lección a tiempo. Los profesores deben informar amablemente a los estudiantes
que sus lecciones están terminando recordándoles antes de que finalice el
período de tiempo de la lección.Puede decir cortésmente al alumno que necesita
prepararse para una próxima lección con otro alumno. • Reprogramar una lección
debido a la ausencia del estudiante. Si un estudiante no asiste a una lección y
solicita reprogramar la clase, es decisión del maestro aceptar o rechazar.
<br /><br />5. <b>Cancelación y reprogramación.</b> Si no puede proporcionar sus
Servicios de Profesor en el momento previamente acordado entre usted y un
Estudiante, usted acepta: informar inmediatamente al Estudiante que no puede
brindar sus Servicios de Profesor a la hora programada, y proporcionarle al
Estudiante una explicación,informar inmediatamente al servicio de atención al
cliente de Marguz.Si no pudo informar al estudiante con anticipación debido a
una emergencia, debe brindar una explicación al estudiante tan pronto como pueda
hacerlo. Después de obtener el consentimiento del estudiante, un profesor puede
cancelar o reprogramar cualquier servicio de profesor programado (incluida una
lección) en cualquier momento que sea más de 24 horas antes de que dicho
servicio de profesor esté programado para comenzar. <br /><br />6.
<b>Pago y comentarios.</b> Después de proporcionar cualquier servicio de
profesor, acepta lo siguiente: • Utilice el servicio de pago de Marguz para
manejar todos los asuntos financieros relacionados con sus servicios para
profesores;y • Brinde retroalimentación útil, objetiva y equilibrada para el
estudiante. <br /><br />7. <b>Directrices adicionales.</b> Adicionalmente, usted acepta
estas pautas en relación con la prestación de sus servicios para profesores en
la plataforma Marguz: • Mantener la privacidad de su propia información
personal; • Mantener la privacidad de los Estudiantes de Marguz de conformidad
con la Política de Privacidad de Marguz, incluida la abstención de solicitar
información de identificación personal de los Estudiantes, como fecha de
nacimiento, edad, número de identificación emitido por el gobierno, número de
teléfono o dirección de casa; • Cooperar con Marguz en cualquier acción
antifraude y en la resolución de disputas; • Mantener registros de todas las
facturas y pagos en relación con sus Servicios para profesores; y • Informe
cualquier violación de los Términos de Marguz o de cualquier otra Política de
Marguz, incluido el uso indebido de calificaciones. <br /><br />8.
<b>Estándares de servicio.</b>

Sea profesional Los profesores deben tomar la iniciativa para comunicarse con
los estudiantes y gestionarlos.Además de las pautas de Servicios para profesores
descritas en la Sección 2 (Descripción de servicios para profesores), se espera
que los profesores proporcionen Servicios para profesores de manera profesional,
que incluye: • Respete la privacidad de los estudiantes.No se permite grabar
audio o video de un estudiante sin el consentimiento previo por escrito o
grabado del estudiante. • Enseña tu idioma.Los estudiantes te pagan para que les
enseñes un nuevo idioma.No utilice este tiempo para practicar el idioma nativo
del estudiante.En su lugar, dé a los estudiantes más tiempo para hablar. •
Administre activamente su calendario y perfil.Mantenga su calendario para
reflejar con precisión los horarios en los que está disponible para brindar
servicios para profesores.Cuando inicie sesión en su cuenta de Marguz, debe
verificar y ajustar su programa de disponibilidad de tiempo y actualizar su
estado. Sea paciente y cortés Dado que los estudiantes provienen de diferentes
orígenes y tienen diferentes habilidades lingüísticas, es importante ser
paciente y educado.Ayúdelos a superar sus dificultades de aprendizaje de
idiomas.Sea alentador, no desanimador. • No use lenguaje grosero u ofensivo con
un estudiante.En su lugar, use un lenguaje respetuoso y hable con los
estudiantes con cortesía profesional. • No reprenda, grite ni insulte a un
estudiante.No le diga a un estudiante que es tonto ni insulte su nivel actual de
capacidad lingüística. • No pierda los estribos con un estudiante. Si no está
seguro de poder manejar una situación con compostura, puede ponerse en contacto
con el servicio de atención al cliente de Marguz para obtener ayuda o sugerir
que un estudiante se comunique con el servicio de atención al cliente de Marguz
para resolver un problema. Sea culturalmente sensible Respete los valores y
tradiciones de sus estudiantes.A menos que el estudiante lo solicite
específicamente, evite preguntar sobre lo siguiente: • La vida personal de su
estudiante.Por ejemplo, no pregunte a un estudiante si está casado o si tiene
novia o novio. • Las afiliaciones políticas de su estudiante.Por ejemplo, no
pregunte a un estudiante si apoya un partido político o una visión ideológica en
particular. • Las afiliaciones religiosas de su estudiante.Por ejemplo, no
pregunte a un estudiante si cree en Dios o se identifica con un grupo religioso
en particular. <br /><br />9. <b>Contenido del profesor.</b> Los términos de esta
sección con respecto al contenido del profesor se aplican a todos los profesores
que brindan servicios para profesores en la plataforma Marguz. Licencia de
estudiante para profesor Por la presente, usted otorga a cada estudiante que
compre sus Servicios para profesores un derecho a usar, ver y copiar su
Contenido para profesores que utiliza al proporcionar sus Servicios para
profesores a dicho Estudiante únicamente con fines educativos personales y no
comerciales.Usted reconoce que todas las representaciones, garantías,
concesiones de licencias y otras disposiciones de los Términos de Marguz se
aplican a todo el Contenido para profesores que envíe a la Plataforma de Marguz.
Propiedad del contenido del profesor Cualquier artículo, video o cualquier otro
material utilizado en sus Servicios para profesores o enviado a la Plataforma
Marguz en relación con sus Servicios para maestros, como su video de
introducción (el "Contenido para profesores"), constituye Contenido para
usuarios.Como resultado, de conformidad con esta sección de los Términos de
Marguz, usted es el propietario de los derechos de autor de su Contenido para
profesores y Marguz no reclama ningún derecho de propiedad sobre ningún
Contenido para profesores. Licencia de Marguz para contenido de profesores
Además de la licencia que le otorga a Marguz para usar, ver, copiar, modificar,
distribuir, publicar y explotar su Contenido de usuario (incluido su Contenido
de profesor) usted otorga a Marguz una licencia para usar su Contenido de
profesor (incluido su video de introducción) e información sobre sus Servicios
de enseñanza en marketing, publicidad y promoción de la Plataforma Marguz en
cualquier medio.Para evitar dudas, Marguz puede publicar su video de
introducción en los canales oficiales de Marguz en servicios de transmisión y
alojamiento de videos de terceros, como Youtube y Vimeo.Marguz eliminará todos
los videos de presentación del profesor de nuestros canales oficiales en
servicios de transmisión y alojamiento de videos de terceros a pedido por
escrito de dicho profesor enviado al servicio de atención al cliente de Marguz.
<br /><br />10. <b>Violación de esta política de profesores.</b> Se espera que usted
realice cualquier Servicio de Profesor de una manera que satisfaga los
estándares de enseñanza descritos anteriormente y resulte en un nivel alto y
constante de satisfacción del Estudiante.Está incumpliendo esta Política para
profesores si: • No entrega ningún Servicio de Profesores por el cual se aceptó
el pago; • No realiza esfuerzos razonables para resolver una disputa con un
estudiante; • Crea niveles inaceptables de insatisfacción estudiantil; • Viola
los Términos de Marguz o cualquier otra Política de Marguz. Marguz se reserva el
derecho de tomar cualquiera de las siguientes acciones en cualquier momento y a
su sola discreción: • Cancele los servicios para profesores que figuran en la
lista; • Limite los privilegios de su cuenta Marguz; • Ajustar el saldo de su
pago y / o congelar o suspender su pago; • Suspender o cancelar su cuenta de
Marguz;o • Comuníquese con las autoridades policiales o busque soluciones
legales. <br /><br />11. <b>Prohibiciones.</b>
Además de cumplir con las restricciones relacionadas con el uso indebido de la
Plataforma de Marguz, usted acepta no ayudar, alentar o permitir que los
Estudiantes u otros Profesores: 1. Proporcione o publique información falsa,
engañosa, inexacta o plagiada en la plataforma Marguz, incluso en su perfil de
profesor, contenido del curso, historial de lecciones y comentarios. 2. Anunciar
o promover servicios de aprendizaje de idiomas de terceros. 3. No establecer o
mantener su perfil de maestro de Marguz para asegurarse de que contenga
información completa, precisa y actualizada. 4. Proporcione sus Servicios para
profesores de forma gratuita o a cambio de calificaciones de los estudiantes. 5.
Anime o permita que los estudiantes trabajen con usted fuera de la plataforma de
Marguz o acepten pagos fuera de la plataforma Marguz.Si un estudiante le pide
que proporcione servicios para profesores fuera de la plataforma Marguz,
recuerde al estudiante que las lecciones deben programarse y pagarse a través de
la plataforma Marguz.Puede denunciar al estudiante o ponerse en contacto con el
servicio de atención al cliente de Marguz. 6. Brinde su servicio de profesor,
incluida la oferta y la provisión de lecciones, a cualquierestudiante"falso" que
utilice una cuenta de Marguz creada por usted o un tercero para aumentar el
recuento de lecciones y las calificaciones de mala fe. 7. Falsificar o alterar
su formación académica, currículum vitae, experiencia laboral o certificados. En
caso de que viole las prohibiciones establecidas en esta sección, Marguz se
reserva el derecho de suspender o desactivar inmediatamente su cuenta Marguz.Si
cree que otros han violado estas prohibiciones, o si no está seguro de si alguna
acción específica violaría estas prohibiciones, comuníquese con el servicio de
atención al cliente de Marguz de inmediato. 12. Cómo ponerse en contacto con el
servicio de atención al cliente Si desea denunciar una violación de esta
Política de maestros, los Términos de italki o cualquier otra Política de
italki, o tiene alguna pregunta o necesita ayuda, comuníquese con el servicio de
atención al cliente de italki de la siguiente manera: Correo
electrónico:soporte@marguz.com Whatsapp: +(57) 322 470 4403
