.footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.fab {
  color: red;
  font-size: 18px;
  margin-left: 10px;
}
