<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>
        <fa-icon style="font-size: 14px" [icon]="user"></fa-icon>
        Registrar como Profesor
      </p>
    </div>
    <div class="bodyBox">
      <div class="formBox">
        <app-form-registro tipoUsuario="Teacher" (registrar)="registrar($event)"></app-form-registro>
        <br />
      </div>
      <div class="recoverBox">
        <p>
          Al dar click en continuar o registrarme, acepta los
          <br /><a style="cursor: pointer; text-decoration: underline;" (click)="goToPolicies()">Terminos y Condiciones
            de servicio y la politica
            de privacidad de
            marguz</a>
        </p>
      </div>
    </div>
  </div>
</div>

<app-error [msg]="errorMessage" (closeError)="closeError()" *ngIf="isError"></app-error>

<app-confirm title="Registro exitoso" [msg]="registroExitosoMessage" buttonMsg="Aceptar" *ngIf="isRegistroExitoso"
  (closeConfirm)="login()"></app-confirm>