<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>
        <fa-icon style="font-size: 14px" [icon]="user"></fa-icon>
        Registrar como Profesor</p>
    </div>
    <div class="bodyBox">
      <div class="formBox">
        <form [formGroup]="registerForm">
          <div class="formInput">
            <input type="hidden" formControlName="id" class="form-control" />
          </div>
          <div class="formInput">
            <label for="nombre" class="col-form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" />
          </div>
          <div class="formInput">
            <label for="apellido" class="col-form-label">Apellido</label>
            <input
              type="text"
              formControlName="apellido"
              class="form-control"
            />
          </div>
          <div class="formInput">
            <label for="telefono" class="col-form-label">Telefono</label>
            <input
              type="text"
              formControlName="telefono"
              class="form-control"
            />
          </div>
          <div class="formInput">
            <label for="pais" class="col-form-label">Pais</label>
            <select
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="countrySelected"
              class="form-control"
              (change)="changeStates()"
            >
              <option
                *ngFor="let country of countries"
                [value]="country.country_name"
              >
                {{ country.country_name }}
              </option>
            </select>
          </div>
          <div class="formInput">
            <label for="estado" class="col-form-label">Estado</label>
            <select
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="stateSelected"
              class="form-control"
              (change)="changeCites()"
            >
              <option *ngFor="let state of states" [value]="state.state_name">
                {{ state.state_name }}
              </option>
            </select>
          </div>
          <div class="formInput">
            <label for="ciudad" class="col-form-label">Ciudad</label>
            <select
              [(ngModel)]="citySelected"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
            >
              <option *ngFor="let city of cities" [value]="city.city_name">
                {{ city.city_name }}
              </option>
            </select>
          </div>
          <div class="formInput">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" />
          </div>
          <div class="formInput">
            <label for="email" class="col-form-label">Contraseña</label>
            <input
              type="password"
              formControlName="contrasena"
              class="form-control"
            />
          </div>
          <div class="formInput">
            <label for="fotodeperfil" class="col-form-label"
              >Documentación/Hoja de vida</label
            >
            <div class="inputFile">

              <input type="file">
            </div>
            <!--             <div
              class="col-auto"
              style="
                background-color: #d6dade;
                border-radius: 10px;
                height: 70px;
              "
            >
                                      <angular-file-uploader
                        [config]="afuConfig">
                      </angular-file-uploader> -
            </div> -->
          </div>
          <div class="formInput">
            <label for="fotodeperfil" class="col-form-label"
              >Adjuntar cédula</label
            >
            <div class="inputFile">

              <input type="file">
            </div>

          </div>
          <div class="formInput">
            <label for="fotodeperfil" class="col-form-label"
              >Foto de perfil</label
            >
            <div class="inputFile">

              <input type="file">
            </div>

          </div>
          <div class="formInput">
            <label for="intereses" class="col-form-label">Horarios</label>
            <button
              type="button"
              class="botonHorario" (click)="agregarHorario()">
              <fa-icon style="margin-right: 30px;" [icon]="calendar"></fa-icon>Agregar horarios</button>
          </div>
          <div class="formInput formIdiomas">
              <label for="intereses" class="col-form-label">Idiomas <br><span>Max. 3 idiomas</span></label>
              <fa-icon style="font-size: 24px" [icon]="icon" (click)="agregarIdiomas()"></fa-icon>
          </div>
          <div class="formButton">
            <button (click)="registrar()" type="button">Registrarme</button>
          </div>
        </form>
        <br />
      </div>
      <div class="recoverBox">
        <p>
          Al dar click en continuar o registrarme,acepta los
          <a routerLink="/politicas/profesor"
            >Terminos y Condiciones de servicio y la politica de privacidad de
            marguz</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-confirm
  title="Registro exitoso"
  [msg]="registroExitosoMessage"
  buttonMsg="Aceptar"
  *ngIf="isRegistroExitoso"
  (closeConfirm)="login()"
></app-confirm>
