<h2>Actualizar Clase</h2>
<br />
<div style="margin-left: -28%; width: 90%" class="col-auto">
  <h6>Titulo De La Clase</h6>
  <input type="text" class="form-control" />
</div>
<br />
<div style="margin-left: -28%; width: 90%" class="col-auto">
  <h6>Duración</h6>
  <input type="text" class="form-control" />
</div>
<div style="margin-left: -28%; width: 90%" class="col-auto">
  <label for="email" class="col-form-label">Profesor</label>
  <select class="form-select" aria-label="Default select example">
    <option selected></option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</div>
<div style="margin-left: -28%; width: 90%" class="col-auto">
  <br />
  <label for="email" class="col-form-label">Descripcion</label>
</div>
<div style="margin-left: -28%; width: 90%" class="col-auto" class="col-auto">
  <textarea class="form-control" style="height: 120px"> </textarea>
</div>
<div style="margin-left: -38%; margin-top: 3%" class="col-md-12">
  <button style="float: right; width: 21%; height: 58%" class="btn btn-success">
    <svg
      style="margin-left: -70%; margin-top: -3"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="16"
      fill="currentColor"
      class="bi bi-file-earmark-post-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1 0-1zm0 3h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"
      />
    </svg>
    <p style="margin-top: -20%; margin-left: 11%">Guardar</p>
  </button>
</div>
