.googleButton {
  border: 2px solid #ffc107;
  color: #e31b36;
  width: 97%;
  height: 46px;
  background: transparent;
  padding: 9px;
  border-radius: 8px;
}
.googleButton:hover {
  border: 2px solid #edb200;
  color: #edf4f4;
  transition: 0.3s;
  width: 97%;
  height: 46px;
  background: #ffc107;
  padding: 9px;
  border-radius: 8px;
}

.icon{
  width: 24px;
  height: 24px;
}
