<div class="row">
  <div class="col-12 mt-3">
    <img src="assets/Logo/Vector.svg" class="img-fluid" style="position: relative; bottom: 13px; margin-right: 10px" />
    <h1 class="d-inline-block edit_perfil mb-4">
      Nueva Clase
    </h1>
  </div>
</div>
<div class="container card">
  <div class="row p-3 text-center">

    <div class="col-md-6">
      <label for="" class="col-form-label">Estudiante</label>
      <app-search [method]="1" [model]="student" (prop)="getStudenId($event)"></app-search>
    </div>

    <div class="col-md-6">
      <label for="" class="col-form-label">Docente</label>
      <app-search [method]="0" [model]="teacher" (prop)="getSchedule($event)" (price)="getPrice($event)"></app-search>
    </div>

    <div class="col-md-6">
      <label for="" class="col-form-label"># De Semanas</label>
      <input type="text" class="form-control" [(ngModel)]="count" (ngModelChange)="getTotal()">
    </div>

    <div class="col-md-6">
      <label for="" class="col-form-label">Total</label>
      <input class="form-control" [(ngModel)]="total" readonly>
    </div>

    <div class="col-md-6">
      <label for="" class="col-form-label">Descripción</label>
      <textarea class="form-control" [(ngModel)]="description"></textarea>
    </div>

    <form>
      <div *ngFor="let horario of horarios; let i = index" class="horarioRow pt-5">
        <div class="horarioInput">
          <label class="horarioLabel" for="day">Dia</label>
          <select class="form-selects" disabled="true" [ngModelOptions]="{ standalone: true }" [(ngModel)]="horario.day"
            aria-label="Default select example">
            <option selected></option>
            <option value="Lunes">Lunes</option>
            <option value="Martes">Martes</option>
            <option value="Miercoles">Miércoles</option>
            <option value="Jueves">Jueves</option>
            <option value="Viernes">Viernes</option>
            <option value="Sabado">Sábado</option>
            <option value="Domingo">Domingo</option>
          </select>
        </div>
        <div class="horarioInput">
          <label class="horarioLabel" for="start">Hora</label>
          <select class="form-selects" disabled="true" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="horario.start_hour" aria-label="Default select example">
            <option value="1:00am">1:00 A.M.</option>
            <option value="2:00am">2:00 A.M.</option>
            <option value="3:00am">3:00 A.M.</option>
            <option value="4:00am">4:00 A.M.</option>
            <option value="5:00am">5:00 A.M.</option>
            <option value="6:00am">6:00 A.M.</option>
            <option value="7:00am">7:00 A.M.</option>
            <option value="8:00am">8:00 A.M.</option>
            <option value="9:00am">9:00 A.M.</option>
            <option value="10:00am">10:00 A.M.</option>
            <option value="11:00am">11:00 A.M.</option>
            <option value="12:00m">12:00 M.</option>
            <option value="1:00pm">1:00 P.M.</option>
            <option value="2:00pm">2:00 P.M.</option>
            <option value="3:00pm">3:00 P.M.</option>
            <option value="4:00pm">4:00 P.M.</option>
            <option value="5:00pm">5:00 P.M.</option>
            <option value="6:00pm">6:00 P.M.</option>
            <option value="7:00pm">7:00 P.M.</option>
            <option value="8:00pm">8:00 P.M.</option>
            <option value="9:00pm">9:00 P.M.</option>
            <option value="10:00pm">10:00 P.M.</option>
            <option value="11:00pm">11:00 P.M.</option>
            <option value="0:00am">0:00 A.M.</option>
          </select>
        </div>
        <div class="horarioInput">
          <label class="horarioLabel">-</label>
          <select class="form-selects" disabled="true" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="horario.end_hour" aria-label="Default select example">
            <option value="1:00am">1:00 A.M.</option>
            <option value="2:00am">2:00 A.M.</option>
            <option value="3:00am">3:00 A.M.</option>
            <option value="4:00am">4:00 A.M.</option>
            <option value="5:00am">5:00 A.M.</option>
            <option value="6:00am">6:00 A.M.</option>
            <option value="7:00am">7:00 A.M.</option>
            <option value="8:00am">8:00 A.M.</option>
            <option value="9:00am">9:00 A.M.</option>
            <option value="10:00am">10:00 A.M.</option>
            <option value="11:00am">11:00 A.M.</option>
            <option value="12:00m">12:00 M.</option>
            <option value="1:00pm">1:00 P.M.</option>
            <option value="2:00pm">2:00 P.M.</option>
            <option value="3:00pm">3:00 P.M.</option>
            <option value="4:00pm">4:00 P.M.</option>
            <option value="5:00pm">5:00 P.M.</option>
            <option value="6:00pm">6:00 P.M.</option>
            <option value="7:00pm">7:00 P.M.</option>
            <option value="8:00pm">8:00 P.M.</option>
            <option value="9:00pm">9:00 P.M.</option>
            <option value="10:00pm">10:00 P.M.</option>
            <option value="11:00pm">11:00 P.M.</option>
            <option value="0:00am">0:00 A.M.</option>
          </select>
        </div>
        <div class="horarioAction">
          <fa-icon class="minusIcon" (click)="eliminarHorario($event, i)" [icon]="minusIcon"></fa-icon>
        </div>
      </div>
      <div class="horarioButton">
        <button class="btn" (click)="save()">
          <fa-icon class="saveIcon" [icon]="saveIcon"></fa-icon>
          <p>Guardar</p>
        </button>
      </div>
    </form>

  </div>

</div>
<br />


<app-error [msg]="errorMessage" (closeError)="closeError()" *ngIf="isError"></app-error>
<app-confirm (closeConfirm)="isRegistroExitoso = false" [title]="titleConfirm" [msg]="registroExitosoMessage"
  buttonMsg="Aceptar" *ngIf="isRegistroExitoso">
</app-confirm>