.logBox {
    background-color: #ffffff;
    border-radius: 3px;
    max-height: 80%;
    z-index: 100000;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .blackBox {
    position: fixed;
    z-index: 8000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: height 0.2s ease-out;
    overflow: hidden;
    background-color: rgba(155, 155, 155, 0.5);
    border: none;
  }
  
  .formButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    color: white;
    background-color: red;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 23px;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .formButton:hover {
    color: red;
    background-color: white;
  }
  
  .formButton:active {
    color: red;
    background-color: white;
  }
  
  .formButton p {
    color: white;
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
    text-decoration: none !important;
  }
  
  .formButton:hover p {
    color: red;
  }
  
  .buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
  }
  
  .closeButton .closeB {
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 2000;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
  }
  
  .closeButton .closeB:hover {
    background-color: white;
    color: red;
  }
  
  .errorHeader {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    background-color: red;
    margin: 0;
    text-align: center;
  }
  
  .errorContent {
    font-size: 18px;
    color: black;
    padding-top: 42px;
    padding-bottom: 42px;
    margin: 0;
    text-align: center;
  }
  
@media screen and (max-width: 1000px) {

  .logBox {
    width: 80%;
  
  }
    

}