<div class="col-sm-12 col-xs-12 col-md-6 col-xl-8 col-lg-8 colPaddings2">
    <div class="segundaCol mt-4">
      <div class="d-inline-block styless">

        <span><i class="fas fa-chevron-left" onclick="backRange();" id="fiz" style="margin-right: 17px"></i></span>
        <span><i class="fas fa-chevron-right" onclick="nextRange();" id="fde"></i></span>

      </div>
      <div class="d-inline" style="margin-left: 10px; font-weight: 400"><span id="inicioRange">12</span> - <span
          id="finRange">18</span> de abr. de 2021</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="ajust scoppes"></th>
            <th scope="col" class="ajust">
              Lun. <span class="rangeDays">12</span> <span class="date"></span>
            </th>
            <th scope="col" class="ajust">
              Mar. <span class="rangeDays">13</span> <span class="date"></span>
            </th>
            <th scope="col" class="ajust">
              Mie. <span class="rangeDays">14</span> <span class="date"></span>
            </th>
            <th scope="col" class="ajust">
              Jue. <span class="rangeDays">15</span> <span class="date"></span>
            </th>
            <th scope="col" class="ajust">
              Vie. <span class="rangeDays">16</span> <span class="date"></span>
            </th>
            <th scope="col" class="ajust">
              Sab. <span class="rangeDays">17</span> <span class="date"></span>
            </th>
            <th scope="col" class="ajust">
              Dom. <span class="rangeDays">18</span> <span class="date"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">09:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">10:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">11:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span class="date_span">10:00 - 11:00</span><span class="name_span">Juliana</span>
            </td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">12:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span style="float: right"><i class="fas fa-check-circle icon-marcado"></i></span>
            </td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span class="date_span">10:00 - 11:00</span><span class="name_span">Juliana</span>
            </td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">13:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span style="float: right"><i class="fas fa-check-circle icon-marcado"></i></span>
            </td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span class="date_span">10:00 - 11:00</span><span class="name_span">Juliana</span>
            </td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span class="date_span">10:00 - 11:00</span><span class="name_span">Juliana</span>
            </td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">14:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span style="float: right"><i class="fas fa-check-circle icon-marcado"></i></span>
            </td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span style="float: right"><i class="fas fa-check-circle icon-marcado"></i></span>
            </td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed marcadoAzul dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span class="date_span">10:00 - 11:00</span><span class="name_span">Juliana</span>
            </td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span class="date_span">10:00 - 11:00</span><span class="name_span">Juliana</span>
            </td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">15:00</th>
            <td class="td-scoppes marcadoAzul dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span style="float: right"><i class="fas fa-check-circle icon-marcadoAzul"></i></span>
            </td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes marcado dashed-no-bordered" data-bs-toggle="modal"
              data-bs-target="#modalDetallesAdmin">
              <span style="float: right"><i class="fas fa-check-circle icon-marcado"></i></span>
            </td>
            <td class="td-scoppes"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row"></th>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
            <td class="dashed"></td>
          </tr>
          <tr>
            <th class="scoppes" scope="row">16:00</th>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
            <td class="td-scoppes"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>