<form>
  <div class="formInput">
    <label for="nombre" class="col-form-label">Nombre</label>
    <input type="text" class="form-control" />
  </div>
  <div class="formInput">
    <label for="apellido" class="col-form-label">Apellido</label>
    <input type="text" class="form-control" />
  </div>
  <div class="formInput">
    <label for="telefono" class="col-form-label">Telefono</label>
    <input type="text" class="form-control" />
  </div>
  <div class="formInput">
    <label for="pais" class="col-form-label">Pais</label>
    <select
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="countrySelected"
      class="form-control"
      (change)="changeStates()"
    >
      <option *ngFor="let country of countries" [value]="country.country_name">
        {{ country.country_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="estado" class="col-form-label">Estado</label>
    <select
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="stateSelected"
      class="form-control"
      (change)="changeCites()"
    >
      <option *ngFor="let state of states" [value]="state.state_name">
        {{ state.state_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="ciudad" class="col-form-label">Ciudad</label>
    <select
      [(ngModel)]="citySelected"
      [ngModelOptions]="{ standalone: true }"
      class="form-control"
    >
      <option *ngFor="let city of cities" [value]="city.city_name">
        {{ city.city_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="email" class="col-form-label">Email</label>
    <input type="email" class="form-control" />
  </div>
  <div class="formInput">
    <label class="col-form-label">Contraseña</label>
    <input type="password" class="form-control" />
  </div>
  <!-- Datos profesor-->
  <div class="formInput" *ngIf="tipo == 1">
    <label for="fotodeperfil" class="col-form-label"
      >Documentación/Hoja de vida</label
    >
    <div class="col-auto container-file">
      <angular-file-uploader [config]="afuConfig"> </angular-file-uploader>
    </div>
  </div>
  <div class="formInput" *ngIf="tipo == 1">
    <label for="fotodeperfil" class="col-form-label">Adjuntar cédula</label>
    <div class="col-auto container-file">
      <angular-file-uploader [config]="afuConfig"> </angular-file-uploader>
    </div>
  </div>
  <div class="formInput">
    <label for="fotodeperfil" class="col-form-label">Foto de perfil</label>
    <div class="col-auto container-file">
      <angular-file-uploader [config]="afuConfig"></angular-file-uploader>
    </div>
  </div>
  <div class="formInput" *ngIf="tipo == 1">
    <label for="intereses" class="col-form-label">Idiomas</label>
    <input type="text" class="form-control" />
  </div>
  <div class="formInput" *ngIf="tipo != 1">
    <label for="intereses" class="col-form-label">Intereses</label>
    <input type="text" class="form-control" />
  </div>
</form>
