<form [formGroup]="registroForm">
  <div class="formInput">
    <label for="identificacion" class="col-form-label">Identificación</label>
    <input type="text" formControlName="identificacion" class="form-control" />

    <div
      class="errorTag"
      *ngIf="
        fRegistro.identificacion.errors?.required &&
        (fRegistro.identificacion.touched || fRegistro.identificacion.dirty)
      "
    >
      Por favor ingrese su número de identificación
    </div>
  </div>
  <div class="formInput">
    <label for="nombre" class="col-form-label">Nombre</label>
    <input type="text" formControlName="nombre" class="form-control" />

    <div
      class="errorTag"
      *ngIf="
        fRegistro.nombre.errors?.required &&
        (fRegistro.nombre.touched || fRegistro.nombre.dirty)
      "
    >
      Por favor ingrese su nombre
    </div>
  </div>
  <div class="formInput">
    <label for="apellido" class="col-form-label">Apellido</label>
    <input type="text" formControlName="apellido" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.apellido.errors?.required &&
        (fRegistro.apellido.touched || fRegistro.apellido.dirty)
      "
    >
      Por favor ingrese su apellido
    </div>
  </div>
  <div class="formInput">
    <label for="telefono" class="col-form-label">Telefono</label>
    <input type="text" formControlName="telefono" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.telefono.errors?.required &&
        (fRegistro.telefono.touched || fRegistro.telefono.dirty)
      "
    >
      Por favor ingrese su número de teléfono
    </div>
  </div>
  <div class="formInput">
    <label for="pais" class="col-form-label">Pais</label>
    <select
      class="form-control"
      formControlName="pais"
      (change)="changeStates()"
    >
      <option value="0" selected>Seleccionar Pais</option>
      <option [value]="item.country_name" *ngFor="let item of countries">
        {{ item.country_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="estado" class="col-form-label">Estado</label>
    <select
      class="form-control"
      formControlName="estado"
      (change)="changeCities()"
    >
      <option value="0" selected>Seleccionar estado</option>
      <option [value]="item.state_name" *ngFor="let item of states">
        {{ item.state_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="ciudad" class="col-form-label">Ciudad</label>
    <select class="form-control" formControlName="ciudad">
      <option value="0" selected>Seleccionar ciudad</option>
      <option [value]="item.city_name" *ngFor="let item of cities">
        {{ item.city_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="email" class="col-form-label">Email</label>
    <input type="text" formControlName="email" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.email.errors?.required &&
        (fRegistro.email.touched || fRegistro.email.dirty)
      "
    >
      Por favor ingrese su correo
    </div>
  </div>

  <div class="formInput">
    <label class="col-form-label">Contraseña</label>
    <input type="password" formControlName="contrasena" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.contrasena.errors?.required &&
        (fRegistro.contrasena.touched || fRegistro.contrasena.dirty)
      "
    >
      Por favor ingrese una contraseña
    </div>
  </div>

  <div class="formInput">
    <label class="col-form-label">Confirmar Contraseña</label>
    <input
      type="password"
      formControlName="contrasenaConfim"
      class="form-control"
    />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.contrasenaConfim.errors?.required &&
        (fRegistro.contrasenaConfim.touched || fRegistro.contrasenaConfim.dirty)
      "
    >
      Por favor confirme su contraseña
    </div>
  </div>

  <div class="fileBoxes">
    <div *ngIf="isProfesor" class="fileInput">
      <label for="documentacion" class="col-form-label"
        >Documentación - Hoja de vida</label
      >
      <div class="inputFile">
        <input
          #documentacionUpload
          hidden="true"
          type="file"
          onclick="this.value=null"
          accept=".pdf"
          (change)="handleFile($event, 0)"
        />
        <button
          *ngIf="filename[0] == ''"
          mat-flat-button
          class="fileButton"
          (click)="documentacionUpload.click()"
        >
          Examinar o arrastrar <fa-icon [icon]="faPaperclip"></fa-icon>
        </button>
        <span *ngIf="filename[0]">{{ filename[0] }}</span>
      </div>
      <fa-icon
        class="resetFile"
        (click)="resetFile(0)"
        [icon]="minusIcon"
      ></fa-icon>
    </div>
    <div *ngIf="isProfesor" class="fileInput">
      <label for="cedula" class="col-form-label">Adjuntar cédula</label>
      <div class="inputFile">
        <input
          #cedulaUpload
          hidden="true"
          type="file"
          accept=".pdf"
          onclick="this.value=null"
          (change)="handleFile($event, 1)"
        />
        <button
          *ngIf="filename[1] == ''"
          mat-flat-button
          class="fileButton"
          (click)="cedulaUpload.click()"
        >
          Examinar o arrastrar <fa-icon [icon]="faPaperclip"></fa-icon>
        </button>
        <span *ngIf="filename[1]">{{ filename[1] }}</span>
      </div>
      <fa-icon
        class="resetFile"
        (click)="resetFile(1)"
        [icon]="minusIcon"
      ></fa-icon>
    </div>
    <div class="fileInput" *ngIf="isProfesor || isEstudiante">
      <label for="fotodeperfil" class="col-form-label">Foto de perfil</label>
      <div class="inputFile">
        <input
          #perfilUpload
          hidden="true"
          type="file"
          onclick="this.value=null"
          accept=".jpg, .png"
          (change)="handleFile($event, 2)"
        />
        <button
          *ngIf="filename[2] == ''"
          mat-flat-button
          class="fileButton"
          (click)="perfilUpload.click()"
        >
          Examinar o arrastrar <fa-icon [icon]="faPaperclip"></fa-icon>
        </button>
        <span *ngIf="filename[2]">{{ filename[2] }}</span>
      </div>
      <fa-icon
        class="resetFile"
        (click)="resetFile(2)"
        [icon]="minusIcon"
      ></fa-icon>
    </div>
  </div>

  <div *ngIf="isProfesor" class="formInput">
    <label for="horarios" class="col-form-label">Horarios</label>
    <div class="horarioBox">
      <div class="horarioList">
        <p *ngFor="let horario of horarios">
          {{ horario.dia }}: <b>{{ horario.inicio }}</b> -
          <b>{{ horario.cierre }}</b>
        </p>
      </div>
      <button type="button" class="botonHorario" (click)="isHorario = true">
        <fa-icon style="margin-right: 30px" [icon]="calendar"></fa-icon>Agregar
        horarios
      </button>
    </div>
  </div>
  <div class="formInput formIdiomas">
    <label *ngIf="isProfesor" for="intereses" class="col-form-label"
      >Idiomas <br /><span>Max. 3 idiomas</span></label
    >
    <label *ngIf="isEstudiante" for="intereses" class="col-form-label"
      >Intereses <br
    /></label>
    <div class="idiomasList">
      <p *ngFor="let idioma of idiomas">
        {{ idioma }}
      </p>
    </div>
    <div class="addIdioma">
      <fa-icon [icon]="icon" (click)="isIdiomas = true"></fa-icon>
    </div>
  </div>
  <div class="formButton">
    <button type="button" (click)="submit()">Registrarme</button>
  </div>
</form>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-horario-modal
  [horarios]="horarios"
  *ngIf="isHorario"
  (closeHorario)="closeHorario($event)"
></app-horario-modal>

<app-idiomas-modal
  [idiomas]="idiomas"
  *ngIf="isIdiomas"
  [isProfesor]="tipoUsuario == 1"
  (closeIdiomas)="closeIdiomas($event)"
></app-idiomas-modal>
