<form [formGroup]="registroForm">
  <div class="formInput">
    <label for="identificacion" class="col-form-label">Identificación</label>
    <input type="text" formControlName="identificacion" class="form-control" />

    <div
      class="errorTag"
      *ngIf="
        fRegistro.identificacion.errors?.required &&
        (fRegistro.identificacion.touched || fRegistro.identificacion.dirty)
      "
    >
      Por favor ingrese su número de identificación
    </div>
  </div>
  <div class="formInput">
    <label for="nombre" class="col-form-label">Nombre</label>
    <input type="text" formControlName="nombre" class="form-control" />

    <div
      class="errorTag"
      *ngIf="
        fRegistro.nombre.errors?.required &&
        (fRegistro.nombre.touched || fRegistro.nombre.dirty)
      "
    >
      Por favor ingrese su nombre
    </div>
  </div>
  <div class="formInput">
    <label for="apellido" class="col-form-label">Apellido</label>
    <input type="text" formControlName="apellido" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.apellido.errors?.required &&
        (fRegistro.apellido.touched || fRegistro.apellido.dirty)
      "
    >
      Por favor ingrese su apellido
    </div>
  </div>
  <div class="formInput">
    <label for="telefono" class="col-form-label">Telefono</label>
    <input type="text" formControlName="telefono" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.telefono.errors?.required &&
        (fRegistro.telefono.touched || fRegistro.telefono.dirty)
      "
    >
      Por favor ingrese su número de teléfono
    </div>
  </div>
  <div class="formInput">
    <label for="pais" class="col-form-label">Pais</label>
    <select
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="countrySelected"
      class="form-control"
      (change)="changeStates()"
    >
      <option *ngFor="let country of countries" [value]="country.country_name">
        {{ country.country_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="estado" class="col-form-label">Estado</label>
    <select
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="stateSelected"
      class="form-control"
      (change)="changeCities()"
    >
      <option *ngFor="let state of states" [value]="state.state_name">
        {{ state.state_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="ciudad" class="col-form-label">Ciudad</label>
    <select
      [(ngModel)]="citySelected"
      [ngModelOptions]="{ standalone: true }"
      class="form-control"
    >
      <option *ngFor="let city of cities" [value]="city.city_name">
        {{ city.city_name }}
      </option>
    </select>
  </div>
  <div class="formInput">
    <label for="email" class="col-form-label">Email</label>
    <input type="text" formControlName="email" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.email.errors?.required &&
        (fRegistro.email.touched || fRegistro.email.dirty)
      "
    >
      Por favor ingrese su correo
    </div>
  </div>
  <div class="formInput">
    <label for="email" class="col-form-label">Contraseña</label>
    <input type="password" formControlName="contrasena" class="form-control" />
    <div
      class="errorTag"
      *ngIf="
        fRegistro.contrasena.errors?.required &&
        (fRegistro.contrasena.touched || fRegistro.contrasena.dirty)
      "
    >
      Por favor ingrese una contraseña
    </div>
  </div>
  <div class="fileBoxes">
    <div *ngIf="isProfesor" class="fileInput">
      <label for="documentacion" class="col-form-label"
        >Documentación - Hoja de vida</label
      >
      <div class="inputFile">
        <angular-file-uploader #documentacionUpload [config]="documentacionConfig">
        </angular-file-uploader>
      </div>
      <fa-icon
      class="resetFile"
      (click)="resetDocumentacion()"
      [icon]="minusIcon"
    ></fa-icon>
    </div>
    <div *ngIf="isProfesor" class="fileInput">
      <label for="cedula" class="col-form-label">Adjuntar cédula</label>
      <div class="inputFile">
        <angular-file-uploader #cedulaUpload  [config]="cedulaConfig"> </angular-file-uploader>
      </div>
      <fa-icon
      class="resetFile"
      (click)="resetCedula()"
      [icon]="minusIcon"
    ></fa-icon>
    </div>
    <div class="fileInput">
      <label for="fotodeperfil" class="col-form-label">Foto de perfil</label>
      <div class="inputFile">
        <angular-file-uploader #perfilUpload  [config]="perfilConfig"> </angular-file-uploader>
      </div>
      <fa-icon
      class="resetFile"
      (click)="resetPerfil()"
      [icon]="minusIcon"
    ></fa-icon>
    </div>


  </div>

  <div *ngIf="isProfesor" class="formInput">
    <label for="horarios" class="col-form-label">Horarios</label>
    <div class="horarioBox">
      <div class="horarioList">
        <p *ngFor="let horario of horarios">
          {{ horario.dia }}: <b>{{ horario.inicio }}</b> -
          <b>{{ horario.cierre }}</b>
        </p>
      </div>
      <button type="button" class="botonHorario" (click)="isHorario = true">
        <fa-icon style="margin-right: 30px" [icon]="calendar"></fa-icon>Agregar
        horarios
      </button>
    </div>
  </div>
  <div class="formInput formIdiomas">
    <label *ngIf="isProfesor" for="intereses" class="col-form-label"
      >Idiomas <br /><span>Max. 3 idiomas</span></label
    >
    <label *ngIf="isEstudiante" for="intereses" class="col-form-label"
      >Intereses <br
    /></label>
    <div class="idiomasList">
      <p *ngFor="let idioma of idiomas">
        {{ idioma }}
      </p>
    </div>
    <div class="addIdioma">
      <fa-icon [icon]="icon" (click)="isIdiomas = true"></fa-icon>
    </div>
  </div>
  <div class="formButton">
    <button type="button" (click)="submit()">Registrarme</button>
  </div>
</form>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-horario
  [horarios]="horarios"
  *ngIf="isHorario"
  (closeHorario)="closeHorario($event)"
></app-horario>

<app-idiomas
  [idiomas]="idiomas"
  *ngIf="isIdiomas"
  [isProfesor]="tipoUsuario == '1'"
  (closeIdiomas)="closeIdiomas($event)"
></app-idiomas>
