/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
}
.app {
  background-color: #edf4f4;
  height: 100vh;
}

.appBox {
  overflow-y: hidden;
  min-height: 100vh;
}
.containerBox {
  margin-bottom: 100px !important;
  overflow-y: hidden;
  .contentBox {
    margin: 18px 0;
  }
}
.moduleBox {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
  min-height: 100vh;
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
}

.errorTag {
  font-size: 0.8em;
  color: red;
  //color: rgba(219, 199, 199, 0.918);
  width: 100%;
  margin-bottom: 18px;
  text-align: right;
}
