<div class="container-fluid">
  <br /><br /><br /><br />
  <div class="row">
    <div class="col-md-8 offset-2">
      <div
        class="card flex-md-row mb-4 shadow-sm h-md-250 card-encabezado"
        style="background-color: #e31b36; color: white"
      >
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <p>Restaurar contraseña</p>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 offset-2">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-center">
          <br />
          <hr />
          <p style="margin-top: -30px">O</p>
          <br />
          <!-- <form [formGroup]="loginForm" style="width: 40%;"> -->
          <form>
            <div class="row g-3 align-items-center">
              <input
                type="password"
                formControlName="contrasena"
                class="form-control input-login"
                placeholder="Ingresa tu nueva contrseña"
              />
            </div>
            <br />
            <div class="row g-3 align-items-center">
              <input
                type="password"
                formControlName="contrasena2"
                class="form-control input-login"
                placeholder="Repite tu nueva contraseña"
              />
            </div>
            <br />
            <div class="row g-3 align-items-center">
              <button
                class="btn btn-default form-control btn-login"
                style="background-color: #24aa24; color: white"
                (click)="restaurar()"
              >
                Restaurar contraseña
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
