<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>Resetear contraseña</p>
    </div>
    <div class="bodyBox">
      <div class="formBox">
        <!-- <form [formGroup]="loginForm" style="width: 40%;"> -->
        <form>
          <div class="formInput">
            <input
              type="password"
              formControlName="contrasena"
              class="form-control input-login"
              placeholder="Ingresa tu nueva contrseña"
            />
          </div>
          <div class="formInput">
            <input
              type="password"
              formControlName="contrasena2"
              class="form-control input-login"
              placeholder="Repite tu nueva contraseña"
            />
          </div>
          <div class="formButton">
            <button type="button" (click)="restaurar()">Restaurar contraseña</button>
          </div>
        </form>

        <br />
      </div>
    </div>
  </div>
</div>


<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-confirm
  title="Reseteo exitoso"
  [msg]="reseteoExitosoMessage"
  buttonMsg="Aceptar"
  *ngIf="isReseteoExitoso"
  (closeConfirm)="login()"
></app-confirm>
