<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>Recuperar contraseña</p>
    </div>
    <div class="bodyBox">
      <div class="backItem" (click)="back()">
        <img src="assets/iconos/back.png" alt="" />
        <p>Volver</p>
      </div>

      <div class="formBox">
        <!-- <form [formGroup]="loginForm" style="width: 40%;"> -->
        <form>
          <div class="formInput">
            <input
              type="text"
              name="email"
              [(ngModel)]="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="formButton">
            <button type="button" (click)="resetear()">
              Recuperar contraseña
            </button>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>

<app-error
  [msg]="errorMessage"
  (closeError)="closeError()"
  *ngIf="isError"
></app-error>

<app-confirm
  title="Reseteo exitoso"
  [msg]="reseteoExitosoMessage"
  buttonMsg="Aceptar"
  *ngIf="isReseteoExitoso"
  (closeConfirm)="login()"
  logo="assets/iconos/happyface.png"
></app-confirm>

<app-loader *ngIf="load"></app-loader>
