<div class="containerBox">
  <div class="contentBox">
    <div class="headerBox">
      <p>Recuperar contraseña</p>
    </div>
    <div class="bodyBox">
      <div class="backItem" (click)="back()">
        <img src="assets/iconos/back.png" alt="">
        <p>Volver</p>
      </div>

      <div class="formBox">
        <!-- <form [formGroup]="loginForm" style="width: 40%;"> -->
        <form>
          <div class="formInput">
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="formButton">
            <button type="button" (click)="resetear()">
              Recuperar contraseña
            </button>
          </div>
        </form>

        <br />
      </div>
    </div>
  </div>
</div>
