.mb-4{
    margin-bottom: -0.5rem!important;
}

.card-encabezado{
    height: 68px;
}

.social-btn{
    height: 40px;
    border-radius: 5px;
}

.fa-facebook , .fa-google{
    margin-right: 30px;
}

.input-login{
    border-radius: 30px;
}

.btn-login{
    border-radius: 10px;
}

hr{
    background-color: black;
    width: 100%;
}

