<form>
  <div *ngFor="let horario of horarios; let i = index" class="horarioRow">
    <div class="horarioInput">
      <label class="horarioLabel" for="day">Dia</label>
      <select class="form-selects" [ngModelOptions]="{ standalone: true }" [(ngModel)]="horario.day"
        aria-label="Default select example">
        <option selected></option>
        <option value="Lunes">Lunes</option>
        <option value="Martes">Martes</option>
        <option value="Miercoles">Miércoles</option>
        <option value="Jueves">Jueves</option>
        <option value="Viernes">Viernes</option>
        <option value="Sabado">Sábado</option>
        <option value="Domingo">Domingo</option>
      </select>
    </div>
    <div class="horarioInput">
      <label class="horarioLabel" for="start">Hora</label>
      <select class="form-selects" [ngModelOptions]="{ standalone: true }" [(ngModel)]="horario.start"
        aria-label="Default select example">
        <option selected></option>
        <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
      </select>
    </div>
    <div class="horarioInput">
      <label class="horarioLabel">-</label>
      <select class="form-selects" [ngModelOptions]="{ standalone: true }" [(ngModel)]="horario.end"
        aria-label="Default select example">
        <option selected></option>
        <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
      </select>
    </div>
    <div class="horarioAction">
      <fa-icon class="plusIcon" (click)="addHorario()" [icon]="plusIcon"></fa-icon>
      <fa-icon class="minusIcon" (click)="eliminarHorario($event, i)" [icon]="minusIcon" *ngIf="i >= 1"></fa-icon>
    </div>
  </div>
  <div class="horarioButton">
    <button class="btn" (click)="close()">
      <fa-icon class="saveIcon" [icon]="saveIcon"></fa-icon>
      <p>Guardar</p>
    </button>
  </div>
</form>