<div class="colorContainer containerBox">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <img src="assets/Logo/Vector.svg" class="img-fluid" style="position: relative; bottom: 13px; margin-right: 10px" />
        <h1 class="d-inline-block edit_perfil mb-4">
          Buscar profesores de idiomas
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="caja-blanca2 text-center">
          <span><i class="fas fa-comment-alt"></i> Idioma</span>
          <select class="form-selects">
            <option *ngFor="let idioma of idiomas" [value]="idioma">{{idioma}}</option>
          </select>
          <span style="margin-left:30px;"><i class="fas fa-tag"></i> Precio</span>
          <input class="priceInput" type="text" name="" placeholder="Min" id="">
          <input class="priceInput" type="text" name="" placeholder="Max" id="">
          <span style="margin-left:30px;"> Buscar</span>
          <div class="d-flex">
            <input class="form-control d-inline me-2" type="search" placeholder="" aria-label="Search">
            <i class="fas fa-search searchs"></i>
          </div>
          <div>
            <button></button>
          </div>
        </div>
      </div>
      <br />
    </div>

    <!-- LISTA DE PROFESORES -->

    <div  *ngFor="let profesor of profesores" class="row">
      <div class="col-12">
        <div class="caja-blanca mt-4">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-2 col-xl-2">
              <span><b>{{profesor.nombre}}</b></span>
              <img class="img-body mt-3"
                src="https://img.europapress.es/fotoweb/fotonoticia_20150331134913-15031252329_420.jpg">

              <button class="btn btn-verde d-block btns mt-3" (click)="abrirPerfil(profesor.id)" type="button">Contratar</button>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-4 col-xl-4 move">
              <span class="ajust-world">
                <i class="fas fa-check-circle circle"></i>
                <i class="fas fa-globe-americas" style="color:#2F80ED;margin-left:6px;"><b class="country">{{profesor.pais}}</b></i>
                <br>
              </span>
              <p class="mt-5" style="color:#ababab">
                Enseña:
                <span *ngFor="let idioma of profesor.idiomas" class="enseña">{{idioma}} </span> 
              </p>
              <p style="color:#ababab">
                Habla:
                <span *ngFor="let idioma of profesor.habla;"class="enseña">{{idioma}} </span>
              </p>
              <p class="descp mb-4">
                {{profesor.descripcion}}</p>
            </div>
            <div class="col-sm-12 col-md-4 col-xs-12 col-lg-5 col-xl-5">
              <span class="a58clases">{{profesor.numeroDeClases}} clases <i class="fas fa-clock"></i></span>
              <iframe class="img-body2 mt-3" style="float:right" [src]="sanitizer.bypassSecurityTrustResourceUrl(profesor.link)"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <p class="dats">Costo por hora: <span class="price">${{profesor.valor}}</span></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>